## regex exercises - NLP

In [1]:
import re
re.findall

import pandas as pd
import numpy as np
from pprint import pprint

### Exercises

1. Write a function named is_vowel.
    - It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [3]:
string = 'pickle'

def is_vowel(string):
    true = bool(re.search(r'[aeiou]', string))
    return true
is_vowel(string)

True

2. Write a function named is_valid_username that accepts a string as input.
    - A valid username starts with a lowercase letter,
    - and only consists of lowercase letters, numbers, or the _ character.
    - It should also be no longer than 32 characters.
    - The function should return either True or False depending on whether the passed string is a valid username.

In [43]:
string = 'pickle'

def is_valid_username(string):
    true = bool(re.search(r'^[^0-9]', string))
    return true
is_valid_username(string)

True

In [24]:
def is_valid_username(username):
    return re.search(r'^[a-z][a-z0-9_]{0,31}$', username) is not None

# regex explained:
# first part, carrot, says "start with a lower case letter, a-z"
# next piece says "consist of lower case letters a-z, numbers 0-9, and a possible underscore"
# next piece says "limit the total length between a character min and max range of 0-31"
# last piece says "end after the length limit code"


usernames = [
    'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
    'codeup',
    'Codeup',
    'codeup123',
    '1codeup',
]

for username in usernames:
    print('username: {} -- is_valid: {}'.format(username, is_valid_username(username)))

username: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -- is_valid: False
username: codeup -- is_valid: True
username: Codeup -- is_valid: False
username: codeup123 -- is_valid: True
username: 1codeup -- is_valid: False

In [26]:
log_lines = '''
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58 
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58 
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
'''.strip().split('\n')

regex = re.compile(r'''
(?P<method>POST|GET)
\s*
(?P<path>(?:[/\w-]+))
(?:\?(?P<query_string>.*?)\s)?
\s*\[
(?P<day>\d+)/(?P<month>\w+)/(?P<year>\d+):
(?P<hour>\d{2})(?P<minute>\d{2})(?P<second>\d{2})
(?P<timezone>\+\d{4})
\]\s+
(?P<protocol>HTTPS?/\d\.\d)
\s+
\{(?P<status>\d+)\}
\s+
(?P<bytes_sent>\d+)
\s+
"(?P<user_agent>.*)"
\s+
(?P<ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})
''', re.VERBOSE)

for line in log_lines:
    pprint(regex.match(line).groupdict())

{'bytes_sent': '510348',
 'day': '16',
 'hour': '19',
 'ip': '97.105.19.58',
 'method': 'GET',
 'minute': '34',
 'month': 'Apr',
 'path': '/api/v1/sales',
 'protocol': 'HTTP/1.1',
 'query_string': 'page=86',
 'second': '52',
 'status': '200',
 'timezone': '+0000',
 'user_agent': 'python-requests/2.21.0',
 'year': '2019'}
{'bytes_sent': '42',
 'day': '16',
 'hour': '19',
 'ip': '97.105.19.58',
 'method': 'POST',
 'minute': '34',
 'month': 'Apr',
 'path': '/users_accounts/file-upload',
 'protocol': 'HTTP/1.1',
 'query_string': None,
 'second': '52',
 'status': '201',
 'timezone': '+0000',
 'user_agent': 'User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) '
               'AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 '
               'Safari/537.36',
 'year': '2019'}
{'bytes_sent': '3561',
 'day': '16',
 'hour': '19',
 'ip': '97.105.19.58',
 'method': 'GET',
 'minute': '34',
 'month': 'Apr',
 'path': '/api/v1/items',
 'protocol': 'HTTP/1.1',
 'query_string': 'page=3',
 'second': '53',
 'status': '429',
 'timezone': '+0000',
 'user_agent': 'python-requests/2.21.0',
 'year': '2019'}

In [25]:
def is_vowel(string):
    return string in 'aeiou'

print(is_vowel('a'))
print(is_vowel('e'))
print(is_vowel('y'))
print(is_vowel('z'))
print(is_vowel('b'))

True
True
False
False
False

In [ ]:
df = pd.read_csv("/usr/share/dict/words")

In [ ]:
df.tail()

In [ ]:
df.shape

In [4]:
sentence = 'Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.'

In [5]:
re.findall(r' ', sentence)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [6]:
re.findall(r'\w', sentence)

['M',
 'a',
 'r',
 'y',
 'h',
 'a',
 'd',
 'a',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 '1',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 'N',
 'o',
 't',
 '1',
 '0',
 'n',
 'o',
 't',
 '1',
 '2',
 'n',
 'o',
 't',
 '2',
 '2',
 'j',
 'u',
 's',
 't',
 'o',
 'n',
 'e']

In [7]:
re.findall(r'\W', sentence)

[' ',
 ' ',
 ' ',
 ' ',
 '.',
 ' ',
 ' ',
 ' ',
 '.',
 ' ',
 ' ',
 ',',
 ' ',
 ' ',
 ',',
 ' ',
 ' ',
 ',',
 ' ',
 ' ',
 '.']

In [8]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [9]:
re.findall(r'\.', sentence)

['.', '.', '.']

In [10]:
re.findall(r'.', sentence)

['M',
 'a',
 'r',
 'y',
 ' ',
 'h',
 'a',
 'd',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 '1',
 ' ',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 'N',
 'o',
 't',
 ' ',
 '1',
 '0',
 ',',
 ' ',
 'n',
 'o',
 't',
 ' ',
 '1',
 '2',
 ',',
 ' ',
 'n',
 'o',
 't',
 ' ',
 '2',
 '2',
 ',',
 ' ',
 'j',
 'u',
 's',
 't',
 ' ',
 'o',
 'n',
 'e',
 '.']

In [11]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [12]:
re.findall(r'\s', sentence)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [26]:
re.findall(r'\d', sentence)

['1', '1', '0', '1', '2', '2', '2']

In [13]:
re.findall(r'\d.', sentence)

['1 ', '10', '12', '22']

In [19]:
re.findall(r'\d\d', sentence)

['10', '12', '22']

In [25]:
re.findall(r'\d+', sentence)

['1', '10', '12', '22']

In [20]:
re.findall(r'\w\w\w', sentence)

['Mar',
 'had',
 'lit',
 'tle',
 'lam',
 'lit',
 'tle',
 'lam',
 'Not',
 'not',
 'not',
 'jus',
 'one']

In [21]:
re.findall(r'\w+', sentence)

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 '1',
 'little',
 'lamb',
 'Not',
 '10',
 'not',
 '12',
 'not',
 '22',
 'just',
 'one']

In [22]:
re.findall(r'\d', sentence)

['1', '1', '0', '1', '2', '2', '2']

In [23]:
re.findall(r'\d+', sentence)

['1', '10', '12', '22']

note difference above when using the plus sign

In [27]:
re.findall(r'\d+,', sentence)

['10,', '12,', '22,']

In [28]:
re.findall(r'\d+,?', sentence)

['1', '10,', '12,', '22,']

above means the comma is optional in its search for characters, numbers

In [29]:
re.findall(r'.+', sentence)

['Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.']

EXACTLY four repetitions of any four characters that are letters or numbers or spaces.

In [30]:
re.findall(r'.{4}',sentence)

['Mary',
 ' had',
 ' a l',
 'ittl',
 'e la',
 'mb. ',
 '1 li',
 'ttle',
 ' lam',
 'b. N',
 'ot 1',
 '0, n',
 'ot 1',
 '2, n',
 'ot 2',
 '2, j',
 'ust ',
 'one.']

this is the same as below, with four periods...

In [31]:
re.findall(r'....',sentence)

['Mary',
 ' had',
 ' a l',
 'ittl',
 'e la',
 'mb. ',
 '1 li',
 'ttle',
 ' lam',
 'b. N',
 'ot 1',
 '0, n',
 'ot 1',
 '2, n',
 'ot 2',
 '2, j',
 'ust ',
 'one.']

below the comma means "four or more"

In [32]:
re.findall(r'.{4,}',sentence)

['Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.']

EXACTLY four repetitions or more

In [33]:
re.findall(r'\w{4,}',sentence)

['Mary', 'little', 'lamb', 'little', 'lamb', 'just']

In [34]:
re.findall(r'\w{3,}',sentence)

['Mary',
 'had',
 'little',
 'lamb',
 'little',
 'lamb',
 'Not',
 'not',
 'not',
 'just',
 'one']

below means between two and four repetitions of anything thats a letter or number

In [35]:
re.findall(r'\w{2,4}', sentence)

['Mary',
 'had',
 'litt',
 'le',
 'lamb',
 'litt',
 'le',
 'lamb',
 'Not',
 '10',
 'not',
 '12',
 'not',
 '22',
 'just',
 'one']

In [36]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

New stuff, now using square brackets:

In [37]:
re.findall(r'[aeiou]',sentence)

['a', 'a', 'a', 'i', 'e', 'a', 'i', 'e', 'a', 'o', 'o', 'o', 'u', 'o', 'e']

In [38]:
re.findall(r'[a-z]', sentence)

['a',
 'r',
 'y',
 'h',
 'a',
 'd',
 'a',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 'o',
 't',
 'n',
 'o',
 't',
 'n',
 'o',
 't',
 'j',
 'u',
 's',
 't',
 'o',
 'n',
 'e']

In [39]:
re.findall(r'[A-Z]', sentence)

['M', 'N']

In [40]:
re.findall(r'[0-9]', sentence)

['1', '1', '0', '1', '2', '2', '2']

In [41]:
re.findall(r'[a-zA-Z]', sentence)

['M',
 'a',
 'r',
 'y',
 'h',
 'a',
 'd',
 'a',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 'N',
 'o',
 't',
 'n',
 'o',
 't',
 'n',
 'o',
 't',
 'j',
 'u',
 's',
 't',
 'o',
 'n',
 'e']

In [42]:
re.findall(r'[\.,]', sentence)

['.', '.', ',', ',', ',', '.']

In [43]:
re.findall(r'[^aeiou]', sentence)

['M',
 'r',
 'y',
 ' ',
 'h',
 'd',
 ' ',
 ' ',
 'l',
 't',
 't',
 'l',
 ' ',
 'l',
 'm',
 'b',
 '.',
 ' ',
 '1',
 ' ',
 'l',
 't',
 't',
 'l',
 ' ',
 'l',
 'm',
 'b',
 '.',
 ' ',
 'N',
 't',
 ' ',
 '1',
 '0',
 ',',
 ' ',
 'n',
 't',
 ' ',
 '1',
 '2',
 ',',
 ' ',
 'n',
 't',
 ' ',
 '2',
 '2',
 ',',
 ' ',
 'j',
 's',
 't',
 ' ',
 'n',
 '.']

this finds all the words that start with a capital letter

In [44]:
re.findall(r'[A-Z][a-z]+', sentence)

['Mary', 'Not']

In [45]:
re.findall(r'[a-z]+\s\d', sentence)

['ot 1', 'not 1', 'not 2']

In [46]:
re.findall(r'[a-z]+\s\d+', sentence)

['ot 10', 'not 12', 'not 22']

In [47]:
re.findall(r'[A-Za-z]+\s\d+', sentence)

['Not 10', 'not 12', 'not 22']

In [48]:
re.findall(r'\w+\.', sentence)

['lamb.', 'lamb.', 'one.']

#### Anchors

Provide a way to talk about locations in the text

the start of the sentence

In [49]:
re.findall(r'^',sentence)

['']

In [50]:
re.findall(r'^.',sentence)

['M']

In [51]:
re.findall(r'^...',sentence)

['Mar']

In [52]:
re.findall(r'$',sentence)

['']

In [53]:
re.findall(r'...$',sentence)

['ne.']

In [54]:
re.findall(r'\w+\.',sentence)

['lamb.', 'lamb.', 'one.']

In [55]:
re.findall(r'\w+\.$',sentence)

['one.']

word boundary, between any character and its adjacent space, and between the space and the character.

In [56]:
re.findall(r'\b',sentence)

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [58]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [57]:
re.findall(r'\b.',sentence)

['M',
 ' ',
 'h',
 ' ',
 'a',
 ' ',
 'l',
 ' ',
 'l',
 '.',
 '1',
 ' ',
 'l',
 ' ',
 'l',
 '.',
 'N',
 ' ',
 '1',
 ',',
 'n',
 ' ',
 '1',
 ',',
 'n',
 ' ',
 '2',
 ',',
 'j',
 ' ',
 'o',
 '.']

In [59]:
re.findall(r'\b\w{3,4}\b.',sentence)

['Mary ', 'had ', 'lamb.', 'lamb.', 'Not ', 'not ', 'not ', 'just ', 'one.']

Note this is for word boundaries of ACTUAL WORDS, not multiple spaces.  It ignores multiple spaces.

Below is "Capture Grouping"

In [60]:
re.findall(r'\w+\.', sentence)

['lamb.', 'lamb.', 'one.']

Note the difference between these two.  Above captures the last set of any numbers/letters when it bumps up against a period AND CAPTURES THE PERIOD, while the item below grabs only the characters but ignores the period, because the parentheses instructs to do so.

In [61]:
re.findall(r'(\w+)\.', sentence)

['lamb', 'lamb', 'one']

In [62]:
re.findall(r'(\w+)(\.)', sentence)

[('lamb', '.'), ('lamb', '.'), ('one', '.')]

Above grabs the same as the cell two above (just letters/nums), but then also grabs the period, and it sets these two items in a tuple.

In [63]:
re.findall(r'(\w+)(\.)', sentence)

[('lamb', '.'), ('lamb', '.'), ('one', '.')]

In [64]:
re.findall(r'(\w)', sentence)

['M',
 'a',
 'r',
 'y',
 'h',
 'a',
 'd',
 'a',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 '1',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 'N',
 'o',
 't',
 '1',
 '0',
 'n',
 'o',
 't',
 '1',
 '2',
 'n',
 'o',
 't',
 '2',
 '2',
 'j',
 'u',
 's',
 't',
 'o',
 'n',
 'e']

Below is grabbing the last letter of each word.

In [69]:
re.findall(r'(\w)+', sentence)

['y',
 'd',
 'a',
 'e',
 'b',
 '1',
 'e',
 'b',
 't',
 '0',
 't',
 '2',
 't',
 '2',
 't',
 'e']

Below grabs each word because it's grabbing only letters/nums (hence the parens, and the plus says to grab any set of letters/nums).  NOTE the plus INSIDE the parens, as opposed to above.

In [66]:
re.findall(r'(\w+)', sentence)

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 '1',
 'little',
 'lamb',
 'Not',
 '10',
 'not',
 '12',
 'not',
 '22',
 'just',
 'one']

Below is grabbing the individual word and the last letter of each word, and zipping them together into tuples, and setting everything into a large list.

In [70]:
list(zip(re.findall(r'(\w+)', sentence), re.findall(r'(\w)+', sentence)))

[('Mary', 'y'),
 ('had', 'd'),
 ('a', 'a'),
 ('little', 'e'),
 ('lamb', 'b'),
 ('1', '1'),
 ('little', 'e'),
 ('lamb', 'b'),
 ('Not', 't'),
 ('10', '0'),
 ('not', 't'),
 ('12', '2'),
 ('not', 't'),
 ('22', '2'),
 ('just', 't'),
 ('one', 'e')]

Referencing capture groups

In [71]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

Using the parens around the dot below, it says to grab any thing that repeats sequentially.  Here identifying the t's that repeat in two separate words, plus the 2 that repeats in 22.

In [72]:
re.findall(r'(.)\1',sentence)

['t', 't', '2']

Same as above, but it grabs both of the repeating items, and sets them into tuples, and then adds them into a list.

In [73]:
re.findall(r'((.)\2)',sentence)

[('tt', 't'), ('tt', 't'), ('22', '2')]

In [75]:
Below grabs the individual letters separately.

SyntaxError: invalid syntax (<ipython-input-75-b4d5d34ba123>, line 1)

In [74]:
re.findall(r'(.)',sentence)

['M',
 'a',
 'r',
 'y',
 ' ',
 'h',
 'a',
 'd',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 '1',
 ' ',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 'N',
 'o',
 't',
 ' ',
 '1',
 '0',
 ',',
 ' ',
 'n',
 'o',
 't',
 ' ',
 '1',
 '2',
 ',',
 ' ',
 'n',
 'o',
 't',
 ' ',
 '2',
 '2',
 ',',
 ' ',
 'j',
 'u',
 's',
 't',
 ' ',
 'o',
 'n',
 'e',
 '.']

In [76]:
sentence = '''
You can find us on the web at https://codeup.com. Our ip address is 123.123.123.123 (maybe).
'''

In [77]:
print(sentence)

You can find us on the web at https://codeup.com. Our ip address is 123.123.123.123 (maybe).

In [78]:
re.findall(r'(\d)',sentence)

['1', '2', '3', '1', '2', '3', '1', '2', '3', '1', '2', '3']

In [79]:
re.findall(r'(\d{1,3})',sentence)

['123', '123', '123', '123']

In [80]:
re.findall(r'(\d{1,3}\.)',sentence)

['123.', '123.', '123.']

In [87]:
re.findall(r'(\d{1,3}\.){3}\d{1,3}',sentence)

['123.']

Below is same as above, except that it grabs the item at list index 0, or the "first thing" in the list.

In [84]:
re.findall(r'(\d{1,3}\.){3}\d{1,3}',sentence)[0]

'123.'

Note, below is looking for a lowercase a, but can't find it in the set of uppercase A's.

In [91]:
re.findall(r'a', 'AAAA')

[]

Below is like the above, except it ignores the case, and therefore finds the AAAA's because it ignores the case of the letters.

In [89]:
re.findall(r'a', 'AAAA', re.IGNORECASE)

['A', 'A', 'A', 'A']

In [92]:
re.findall(r'''
[aeiou]    (?# a vowel)
[^aeiou]+  (?# one or more non-vowel) 
[aeiou]    (?# another vowel)
'''
, 'abcde', re.VERBOSE)

['abcde']

In [93]:
[re.search(r'a','abcde'),
re.search(r'\d+','abcde'),
re.search(r'\w+','abcde')]

if re.search(r'\d+', 'abcde'):
    print('Found a digit!')
    
if re.search(r'[a-z]', 'abcde'):
    print('Found a lower case!')

Found a lower case!

In [94]:
re.sub(r'[aeiou]','X', 'abcde')

'XbcdX'

In [95]:
re.sub(r'[aeiou]','X', 'abcde', count=1)

'Xbcde'

In [96]:
re.sub(r'.(.)$', r'X\1', 'abcde')

'abcXe'

In [97]:
re.findall(r'(\d+\.\d+\.\d+\.\d+)', sentence)

['123.123.123.123']

copy Zach's multil line code here

## Assignment

### Exercises
- Write a function named is_vowel.
- It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [ ]:
df = pd.read_csv("/usr/share/dict/words")

In [ ]:
df.tail()

In [ ]:
df.shape