In [2]:
import pandas as pd

In [7]:
df = pd.read_clipboard(sep='\t')

In [9]:
df.to_clipboard()

In [ ]:
Can use "!" to write shell commands

In [10]:
get_ipython().system('ls')

6.3_Acquire.ipynb
6.3_Acquire2.ipynb
Borrorwed_code_Regression_Proj_presentations.ipynb
OLS comparisons.xlsx
README.md
Regression_Proj_Hackney_Chad.ipynb
Regression_Project.ipynb
Regression_Project_before_switching_to_continuous.ipynb
Regression_test_just_residential.ipynb
Untitled1.ipynb
chad_proj_data_dict.xlsx
env.py
properties_2016.csv
properties_2016_test.xlsx
test.txt
train_2016_v2.csv
zillow_data_dictionary.xlsx
~$zillow_data_dictionary.xlsx

In [11]:
get_ipython().system('ls -a')

.
..
.git
.gitignore
.ipynb_checkpoints
6.3_Acquire.ipynb
6.3_Acquire2.ipynb
Borrorwed_code_Regression_Proj_presentations.ipynb
OLS comparisons.xlsx
README.md
Regression_Proj_Hackney_Chad.ipynb
Regression_Project.ipynb
Regression_Project_before_switching_to_continuous.ipynb
Regression_test_just_residential.ipynb
Untitled1.ipynb
chad_proj_data_dict.xlsx
env.py
properties_2016.csv
properties_2016_test.xlsx
test.txt
train_2016_v2.csv
zillow_data_dictionary.xlsx
~$zillow_data_dictionary.xlsx

In [12]:
! mkdir monkey

In [13]:
ls -a

./
../
.git/
.gitignore
.ipynb_checkpoints/
6.3_Acquire.ipynb
6.3_Acquire2.ipynb
Borrorwed_code_Regression_Proj_presentations.ipynb
OLS comparisons.xlsx
README.md
Regression_Proj_Hackney_Chad.ipynb
Regression_Project.ipynb
Regression_Project_before_switching_to_continuous.ipynb
Regression_test_just_residential.ipynb
Untitled1.ipynb
chad_proj_data_dict.xlsx
env.py
monkey/
properties_2016.csv
properties_2016_test.xlsx
test.txt
train_2016_v2.csv
zillow_data_dictionary.xlsx
~$zillow_data_dictionary.xlsx

In [19]:
# IPython log file
import pandas as pd
import env

In [20]:
db_url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/titanic_db'
df = pd.read_sql('select * from passengers', db_url)

In [21]:
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [22]:
from importlib import reload

In [23]:
reload(env)

In [24]:
get_ipython().system('ls -a')

.
..
.git
.gitignore
.ipynb_checkpoints
6.3_Acquire.ipynb
6.3_Acquire2.ipynb
Borrorwed_code_Regression_Proj_presentations.ipynb
OLS comparisons.xlsx
README.md
Regression_Proj_Hackney_Chad.ipynb
Regression_Project.ipynb
Regression_Project_before_switching_to_continuous.ipynb
Regression_test_just_residential.ipynb
Untitled1.ipynb
__pycache__
chad_proj_data_dict.xlsx
env.py
monkey
properties_2016.csv
properties_2016_test.xlsx
test.txt
train_2016_v2.csv
zillow_data_dictionary.xlsx
~$zillow_data_dictionary.xlsx

In [26]:
! mkdir ds-methodologies-exercises

mkdir: ds-methodologies-exercises: File exists

In [27]:
! ls -a

.
..
.git
.gitignore
.ipynb_checkpoints
6.3_Acquire.ipynb
6.3_Acquire2.ipynb
Borrorwed_code_Regression_Proj_presentations.ipynb
OLS comparisons.xlsx
README.md
Regression_Proj_Hackney_Chad.ipynb
Regression_Project.ipynb
Regression_Project_before_switching_to_continuous.ipynb
Regression_test_just_residential.ipynb
Untitled1.ipynb
__pycache__
chad_proj_data_dict.xlsx
ds-methodologies-exercises
env.py
monkey
properties_2016.csv
properties_2016_test.xlsx
test.txt
train_2016_v2.csv
zillow_data_dictionary.xlsx
~$zillow_data_dictionary.xlsx

In [28]:
cd ds-methodologies-exercises/

/Users/rachelreuter/Codeup-DS-projects/ds-methodologies-exercises

In [29]:
ls -a

./  ../

In [31]:
! touch README.md

In [32]:
ls -a

./         ../        README.md

In [ ]:
classification_acquire