Seaborn_lesson

15Mar19

late morning lesson after pandas exercise final review

just prior to lunch

In [ ]:
# seaborn makes matplotlib and pandas much easier.
# its a library of cool functions that do the same stuff as matplotlib and pandas
# it builds upon matplotlib

# matplotlib is charting and visualizations
# numpy is advanced maths stuffs
# pandas rides over numpy and makes numpy easier
# seaborn, just like pandas role, makes pandas and matplotlib easier

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns

In [43]:
# Load dataset to play with, from seaborn:
tips = sns.load_dataset('tips')

tips('tips', show_doc=True)

TypeError: 'DataFrame' object is not callable

In [22]:
# then check the data types
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [23]:
%matplotlib qt

In [24]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
#plot bill amoutn vs tip amount, based on time of day

In [25]:
plt.scatter(tips.total_bill, tips.tip)

In [16]:
total_bill_dinner = tips[tips.time == 'Dinner']

In [ ]:



# fill in the missing stuff here from the lecture

In [40]:
# create heatmapt to lookk at correlations between fields in a table

sns.heatmap(tips.corr(), cmap=plt.cm.PiYG, annot=True, center=0)

In [28]:
sns.heatmap(tips.corr(), cmap=plt.cm.PiYG, annot=True, center=0)
# this works, use something like this.

In [30]:
sns.boxplot(data=tips, y='tip', x='time')
# this is cool also, to show dual boxplots

In [32]:
sns.boxplot(data=tips, y='time', x='tip')
# this swaps the X and Y axes

In [33]:
sns.boxplot(data=tips, y='time', x='tip', hue='smoker')
# this adds a third dimension, color

In [35]:
sns.pairplot(tips)

In [36]:
sns.violinplot(data=tips, y='time', x='tip')

/usr/local/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval

In [37]:
sns.jointplot(data=tips, y='total_bill', x='tip')

In [ ]:
sns.tree(data=tips, y='total_bill', x='tip')