In [1]:
import pandas as pd
import numpy as np
import pyspark
from pyspark.sql.types import *

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType
from pyspark.sql.functions import col, expr, count
from pyspark.sql.functions import desc

In [2]:
!cat example_data.csv

n,g
15.0,b
23.0,c
6.0,c
NaN,c
26.0,b
12.0,b
8.0,a
18.0,c
14.0,a
20.0,c
22.0,a
21.0,a
1.0,c
0.0,a
17.0,b
2.0,a
7.0,a
16.0,b
24.0,b
10.0,a
4.0,c
27.0,c
25.0,b
NaN,a
11.0,a
5.0,a
19.0,c
29.0,c
28.0,a
13.0,b

In [3]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()
spark

In [4]:
df = spark.read.csv('./example_data.csv', header=True)

In [5]:
# 1. infer schema
# 2. Specify a schema
# 3. Cast

df = df.select(df.n.cast('float'), df.g)

In [6]:
type(df)

pyspark.sql.dataframe.DataFrame

# More Data Frame Manipulation

In [7]:
df = (df
 .withColumnRenamed('n', 'number')
 .withColumnRenamed('g', 'group'))

In [8]:
df.withColumn('n_is_even', df.number % 2 == 0).show()

+------+-----+---------+
|number|group|n_is_even|
+------+-----+---------+
|  15.0|    b|    false|
|  23.0|    c|    false|
|   6.0|    c|     true|
|   NaN|    c|    false|
|  26.0|    b|     true|
|  12.0|    b|     true|
|   8.0|    a|     true|
|  18.0|    c|     true|
|  14.0|    a|     true|
|  20.0|    c|     true|
|  22.0|    a|     true|
|  21.0|    a|    false|
|   1.0|    c|    false|
|   0.0|    a|     true|
|  17.0|    b|    false|
|   2.0|    a|     true|
|   7.0|    a|    false|
|  16.0|    b|     true|
|  24.0|    b|     true|
|  10.0|    a|     true|
+------+-----+---------+
only showing top 20 rows

In [9]:
df.withColumn('n_is_even', col('number') % 2 == 0)

DataFrame[number: float, group: string, n_is_even: boolean]

In [10]:
df.withColumn('n_is_even', expr('number % 2 = 0'))

DataFrame[number: float, group: string, n_is_even: boolean]

In [11]:
df.selectExpr('number + 1 as incremented', 'number % 2 = 0').show()

+-----------+------------------+
|incremented|((number % 2) = 0)|
+-----------+------------------+
|       16.0|             false|
|       24.0|             false|
|        7.0|              true|
|        NaN|             false|
|       27.0|              true|
|       13.0|              true|
|        9.0|              true|
|       19.0|              true|
|       15.0|              true|
|       21.0|              true|
|       23.0|              true|
|       22.0|             false|
|        2.0|             false|
|        1.0|              true|
|       18.0|             false|
|        3.0|              true|
|        8.0|             false|
|       17.0|              true|
|       25.0|              true|
|       11.0|              true|
+-----------+------------------+
only showing top 20 rows

In [12]:
df.selectExpr('*', 'number % 2 = 0 as number_is_even').show()

+------+-----+--------------+
|number|group|number_is_even|
+------+-----+--------------+
|  15.0|    b|         false|
|  23.0|    c|         false|
|   6.0|    c|          true|
|   NaN|    c|         false|
|  26.0|    b|          true|
|  12.0|    b|          true|
|   8.0|    a|          true|
|  18.0|    c|          true|
|  14.0|    a|          true|
|  20.0|    c|          true|
|  22.0|    a|          true|
|  21.0|    a|         false|
|   1.0|    c|         false|
|   0.0|    a|          true|
|  17.0|    b|         false|
|   2.0|    a|          true|
|   7.0|    a|         false|
|  16.0|    b|          true|
|  24.0|    b|          true|
|  10.0|    a|          true|
+------+-----+--------------+
only showing top 20 rows

In [13]:
df.drop('group').show()

+------+
|number|
+------+
|  15.0|
|  23.0|
|   6.0|
|   NaN|
|  26.0|
|  12.0|
|   8.0|
|  18.0|
|  14.0|
|  20.0|
|  22.0|
|  21.0|
|   1.0|
|   0.0|
|  17.0|
|   2.0|
|   7.0|
|  16.0|
|  24.0|
|  10.0|
+------+
only showing top 20 rows

In [14]:
df.limit(10).show()

+------+-----+
|number|group|
+------+-----+
|  15.0|    b|
|  23.0|    c|
|   6.0|    c|
|   NaN|    c|
|  26.0|    b|
|  12.0|    b|
|   8.0|    a|
|  18.0|    c|
|  14.0|    a|
|  20.0|    c|
+------+-----+

In [15]:
df.show()

+------+-----+
|number|group|
+------+-----+
|  15.0|    b|
|  23.0|    c|
|   6.0|    c|
|   NaN|    c|
|  26.0|    b|
|  12.0|    b|
|   8.0|    a|
|  18.0|    c|
|  14.0|    a|
|  20.0|    c|
|  22.0|    a|
|  21.0|    a|
|   1.0|    c|
|   0.0|    a|
|  17.0|    b|
|   2.0|    a|
|   7.0|    a|
|  16.0|    b|
|  24.0|    b|
|  10.0|    a|
+------+-----+
only showing top 20 rows

In [17]:
df.select(df.number.cast('float'),df.group).show()

+------+-----+
|number|group|
+------+-----+
|  15.0|    b|
|  23.0|    c|
|   6.0|    c|
|   NaN|    c|
|  26.0|    b|
|  12.0|    b|
|   8.0|    a|
|  18.0|    c|
|  14.0|    a|
|  20.0|    c|
|  22.0|    a|
|  21.0|    a|
|   1.0|    c|
|   0.0|    a|
|  17.0|    b|
|   2.0|    a|
|   7.0|    a|
|  16.0|    b|
|  24.0|    b|
|  10.0|    a|
+------+-----+
only showing top 20 rows

In [18]:
df.where(df.number < 10).show()

+------+-----+
|number|group|
+------+-----+
|   6.0|    c|
|   8.0|    a|
|   1.0|    c|
|   0.0|    a|
|   2.0|    a|
|   7.0|    a|
|   4.0|    c|
|   5.0|    a|
+------+-----+

or

In [19]:
df.where('number < 10').show()

+------+-----+
|number|group|
+------+-----+
|   6.0|    c|
|   8.0|    a|
|   1.0|    c|
|   0.0|    a|
|   2.0|    a|
|   7.0|    a|
|   4.0|    c|
|   5.0|    a|
+------+-----+

In [20]:
df.where('number < 10').where('number > 4').show()

+------+-----+
|number|group|
+------+-----+
|   6.0|    c|
|   8.0|    a|
|   7.0|    a|
|   5.0|    a|
+------+-----+

In [21]:
df.sort(df.number).show()

+------+-----+
|number|group|
+------+-----+
|   0.0|    a|
|   1.0|    c|
|   2.0|    a|
|   4.0|    c|
|   5.0|    a|
|   6.0|    c|
|   7.0|    a|
|   8.0|    a|
|  10.0|    a|
|  11.0|    a|
|  12.0|    b|
|  13.0|    b|
|  14.0|    a|
|  15.0|    b|
|  16.0|    b|
|  17.0|    b|
|  18.0|    c|
|  19.0|    c|
|  20.0|    c|
|  21.0|    a|
+------+-----+
only showing top 20 rows

In [22]:
df.orderBy(df.group).show()

+------+-----+
|number|group|
+------+-----+
|  22.0|    a|
|  14.0|    a|
|   5.0|    a|
|  28.0|    a|
|   2.0|    a|
|   7.0|    a|
|   8.0|    a|
|  10.0|    a|
|  21.0|    a|
|   NaN|    a|
|  11.0|    a|
|   0.0|    a|
|  15.0|    b|
|  26.0|    b|
|  16.0|    b|
|  17.0|    b|
|  12.0|    b|
|  24.0|    b|
|  13.0|    b|
|  25.0|    b|
+------+-----+
only showing top 20 rows

In [23]:
df.orderBy(df.group, df.number).show()

+------+-----+
|number|group|
+------+-----+
|   0.0|    a|
|   2.0|    a|
|   5.0|    a|
|   7.0|    a|
|   8.0|    a|
|  10.0|    a|
|  11.0|    a|
|  14.0|    a|
|  21.0|    a|
|  22.0|    a|
|  28.0|    a|
|   NaN|    a|
|  12.0|    b|
|  13.0|    b|
|  15.0|    b|
|  16.0|    b|
|  17.0|    b|
|  24.0|    b|
|  25.0|    b|
|  26.0|    b|
+------+-----+
only showing top 20 rows

In [24]:
df.orderBy(df.group.desc(), df.number).show()

+------+-----+
|number|group|
+------+-----+
|   1.0|    c|
|   4.0|    c|
|   6.0|    c|
|  18.0|    c|
|  19.0|    c|
|  20.0|    c|
|  23.0|    c|
|  27.0|    c|
|  29.0|    c|
|   NaN|    c|
|  12.0|    b|
|  13.0|    b|
|  15.0|    b|
|  16.0|    b|
|  17.0|    b|
|  24.0|    b|
|  25.0|    b|
|  26.0|    b|
|   0.0|    a|
|   2.0|    a|
+------+-----+
only showing top 20 rows

or....

In [25]:
df.orderBy(df.group.desc(), desc('number')).show()

+------+-----+
|number|group|
+------+-----+
|   NaN|    c|
|  29.0|    c|
|  27.0|    c|
|  23.0|    c|
|  20.0|    c|
|  19.0|    c|
|  18.0|    c|
|   6.0|    c|
|   4.0|    c|
|   1.0|    c|
|  26.0|    b|
|  25.0|    b|
|  24.0|    b|
|  17.0|    b|
|  16.0|    b|
|  15.0|    b|
|  13.0|    b|
|  12.0|    b|
|   NaN|    a|
|  28.0|    a|
+------+-----+
only showing top 20 rows

In [26]:
df.orderBy(df.number.asc_nulls_last(), df.group.asc()).show()

+------+-----+
|number|group|
+------+-----+
|   0.0|    a|
|   1.0|    c|
|   2.0|    a|
|   4.0|    c|
|   5.0|    a|
|   6.0|    c|
|   7.0|    a|
|   8.0|    a|
|  10.0|    a|
|  11.0|    a|
|  12.0|    b|
|  13.0|    b|
|  14.0|    a|
|  15.0|    b|
|  16.0|    b|
|  17.0|    b|
|  18.0|    c|
|  19.0|    c|
|  20.0|    c|
|  21.0|    a|
+------+-----+
only showing top 20 rows

In [27]:
df.sort('number', ascending=False).show()

+------+-----+
|number|group|
+------+-----+
|   NaN|    c|
|   NaN|    a|
|  29.0|    c|
|  28.0|    a|
|  27.0|    c|
|  26.0|    b|
|  25.0|    b|
|  24.0|    b|
|  23.0|    c|
|  22.0|    a|
|  21.0|    a|
|  20.0|    c|
|  19.0|    c|
|  18.0|    c|
|  17.0|    b|
|  16.0|    b|
|  15.0|    b|
|  14.0|    a|
|  13.0|    b|
|  12.0|    b|
+------+-----+
only showing top 20 rows

replace values using .replace

In [28]:
df.replace('a', 'monkey').show()

+------+------+
|number| group|
+------+------+
|  15.0|     b|
|  23.0|     c|
|   6.0|     c|
|   NaN|     c|
|  26.0|     b|
|  12.0|     b|
|   8.0|monkey|
|  18.0|     c|
|  14.0|monkey|
|  20.0|     c|
|  22.0|monkey|
|  21.0|monkey|
|   1.0|     c|
|   0.0|monkey|
|  17.0|     b|
|   2.0|monkey|
|   7.0|monkey|
|  16.0|     b|
|  24.0|     b|
|  10.0|monkey|
+------+------+
only showing top 20 rows

In [29]:
df.replace('a', 'monkey',['number']).show()

+------+-----+
|number|group|
+------+-----+
|  15.0|    b|
|  23.0|    c|
|   6.0|    c|
|   NaN|    c|
|  26.0|    b|
|  12.0|    b|
|   8.0|    a|
|  18.0|    c|
|  14.0|    a|
|  20.0|    c|
|  22.0|    a|
|  21.0|    a|
|   1.0|    c|
|   0.0|    a|
|  17.0|    b|
|   2.0|    a|
|   7.0|    a|
|  16.0|    b|
|  24.0|    b|
|  10.0|    a|
+------+-----+
only showing top 20 rows

replacing and specifying WHICH column

In [30]:
df.replace('a', 'monkey',['group']).show()

+------+------+
|number| group|
+------+------+
|  15.0|     b|
|  23.0|     c|
|   6.0|     c|
|   NaN|     c|
|  26.0|     b|
|  12.0|     b|
|   8.0|monkey|
|  18.0|     c|
|  14.0|monkey|
|  20.0|     c|
|  22.0|monkey|
|  21.0|monkey|
|   1.0|     c|
|   0.0|monkey|
|  17.0|     b|
|   2.0|monkey|
|   7.0|monkey|
|  16.0|     b|
|  24.0|     b|
|  10.0|monkey|
+------+------+
only showing top 20 rows

replacing lowers with uppers

In [31]:
df.replace(['a','b'],['A','B'],['group']).show()

+------+-----+
|number|group|
+------+-----+
|  15.0|    B|
|  23.0|    c|
|   6.0|    c|
|   NaN|    c|
|  26.0|    B|
|  12.0|    B|
|   8.0|    A|
|  18.0|    c|
|  14.0|    A|
|  20.0|    c|
|  22.0|    A|
|  21.0|    A|
|   1.0|    c|
|   0.0|    A|
|  17.0|    B|
|   2.0|    A|
|   7.0|    A|
|  16.0|    B|
|  24.0|    B|
|  10.0|    A|
+------+-----+
only showing top 20 rows

Replacing missing values

In [32]:
df.count()

30

In [33]:
df.na.drop()

DataFrame[number: float, group: string]

In [34]:
df.na.drop().count()

28

In [35]:
df.na.fill(0, ['number']).show()

+------+-----+
|number|group|
+------+-----+
|  15.0|    b|
|  23.0|    c|
|   6.0|    c|
|   0.0|    c|
|  26.0|    b|
|  12.0|    b|
|   8.0|    a|
|  18.0|    c|
|  14.0|    a|
|  20.0|    c|
|  22.0|    a|
|  21.0|    a|
|   1.0|    c|
|   0.0|    a|
|  17.0|    b|
|   2.0|    a|
|   7.0|    a|
|  16.0|    b|
|  24.0|    b|
|  10.0|    a|
+------+-----+
only showing top 20 rows

In [36]:
# fill NAs with the average of the column
df.agg(expr('sum(number)')).show()

+-----------+
|sum(number)|
+-----------+
|        NaN|
+-----------+

drop na values

In [37]:
df.na.drop().agg(expr('sum(number)')).show()

+-----------+
|sum(number)|
+-----------+
|      423.0|
+-----------+

In [38]:
df.na.drop().agg(expr('avg(number)')).head()

Row(avg(number)=15.107142857142858)

above returns one row

In [39]:
df.na.drop().agg(expr('avg(number)')).collect()

[Row(avg(number)=15.107142857142858)]

above returns a collection of all the rows

below is actually NOT a df

In [40]:
df.collect()

[Row(number=15.0, group='b'),
 Row(number=23.0, group='c'),
 Row(number=6.0, group='c'),
 Row(number=nan, group='c'),
 Row(number=26.0, group='b'),
 Row(number=12.0, group='b'),
 Row(number=8.0, group='a'),
 Row(number=18.0, group='c'),
 Row(number=14.0, group='a'),
 Row(number=20.0, group='c'),
 Row(number=22.0, group='a'),
 Row(number=21.0, group='a'),
 Row(number=1.0, group='c'),
 Row(number=0.0, group='a'),
 Row(number=17.0, group='b'),
 Row(number=2.0, group='a'),
 Row(number=7.0, group='a'),
 Row(number=16.0, group='b'),
 Row(number=24.0, group='b'),
 Row(number=10.0, group='a'),
 Row(number=4.0, group='c'),
 Row(number=27.0, group='c'),
 Row(number=25.0, group='b'),
 Row(number=nan, group='a'),
 Row(number=11.0, group='a'),
 Row(number=5.0, group='a'),
 Row(number=19.0, group='c'),
 Row(number=29.0, group='c'),
 Row(number=28.0, group='a'),
 Row(number=13.0, group='b')]

In [44]:
# row = df.na.drop().agg(expr('avg(number)')).first()

# the_average = row['avg(number)']

row = df.na.drop().agg(expr('avg(number)')).first()
the_average = row['avg(number)']

In [45]:
df.na.fill(the_average, ['number']).sort('number').show()

+---------+-----+
|   number|group|
+---------+-----+
|      0.0|    a|
|      1.0|    c|
|      2.0|    a|
|      4.0|    c|
|      5.0|    a|
|      6.0|    c|
|      7.0|    a|
|      8.0|    a|
|     10.0|    a|
|     11.0|    a|
|     12.0|    b|
|     13.0|    b|
|     14.0|    a|
|     15.0|    b|
|15.107142|    c|
|15.107142|    a|
|     16.0|    b|
|     17.0|    b|
|     18.0|    c|
|     19.0|    c|
+---------+-----+
only showing top 20 rows

In [46]:
df.head(5)

[Row(number=15.0, group='b'),
 Row(number=23.0, group='c'),
 Row(number=6.0, group='c'),
 Row(number=nan, group='c'),
 Row(number=26.0, group='b')]

In [49]:
for row in df.head(5):
    print('type(row): {}'.format(type(row)))
    print('type(row.group): {}'.format(type(row.group)))
    print('row.group:', row.group)
    print('---')

type(row): <class 'pyspark.sql.types.Row'>
type(row.group): <class 'str'>
row.group: b
---
type(row): <class 'pyspark.sql.types.Row'>
type(row.group): <class 'str'>
row.group: c
---
type(row): <class 'pyspark.sql.types.Row'>
type(row.group): <class 'str'>
row.group: c
---
type(row): <class 'pyspark.sql.types.Row'>
type(row.group): <class 'str'>
row.group: c
---
type(row): <class 'pyspark.sql.types.Row'>
type(row.group): <class 'str'>
row.group: b
---

## Built-in Functions

In [50]:
from pyspark.sql.functions import *

In [51]:
df = spark.read.csv('./case.csv', header=True, inferSchema=True)

In [52]:
df.select(df.council_district).show()

+----------------+
|council_district|
+----------------+
|               5|
|               3|
|               3|
|               3|
|               7|
|               7|
|               4|
|               4|
|               4|
|               4|
|               4|
|               4|
|               4|
|               4|
|               4|
|               4|
|               4|
|               4|
|               4|
|               4|
+----------------+
only showing top 20 rows

format the number as an integer or digit using '%d'

In [53]:
df.select(format_string('%d',df.council_district)).show()

+-----------------------------------+
|format_string(%d, council_district)|
+-----------------------------------+
|                                  5|
|                                  3|
|                                  3|
|                                  3|
|                                  7|
|                                  7|
|                                  4|
|                                  4|
|                                  4|
|                                  4|
|                                  4|
|                                  4|
|                                  4|
|                                  4|
|                                  4|
|                                  4|
|                                  4|
|                                  4|
|                                  4|
|                                  4|
+-----------------------------------+
only showing top 20 rows

... pad with zeroes, to make it all 10 digits wide

In [54]:
df.select(format_string('%010d',df.council_district)).show()

+--------------------------------------+
|format_string(%010d, council_district)|
+--------------------------------------+
|                            0000000005|
|                            0000000003|
|                            0000000003|
|                            0000000003|
|                            0000000007|
|                            0000000007|
|                            0000000004|
|                            0000000004|
|                            0000000004|
|                            0000000004|
|                            0000000004|
|                            0000000004|
|                            0000000004|
|                            0000000004|
|                            0000000004|
|                            0000000004|
|                            0000000004|
|                            0000000004|
|                            0000000004|
|                            0000000004|
+--------------------------------------+
only showing top 20 rows

In [55]:
format_string('%010d',df.council_district)

Column<b'format_string(%010d, council_district)'>

In [56]:
(df
 .select(df.council_district)
 .orderBy(df.council_district.desc())
 .select(format_string('%010d',df.council_district))
 .show())

+--------------------------------------+
|format_string(%010d, council_district)|
+--------------------------------------+
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
+--------------------------------------+
only showing top 20 rows

In [57]:
formatted_district = format_string('%010d',df.council_district)

(df
 .select(df.council_district)
 .orderBy(df.council_district.desc())
 .select(format_string('%010d',df.council_district))
 .show())

+--------------------------------------+
|format_string(%010d, council_district)|
+--------------------------------------+
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
|                            0000000010|
+--------------------------------------+
only showing top 20 rows

In [58]:
df.select('request_address').show()

+--------------------+
|     request_address|
+--------------------+
|2315  EL PASO ST,...|
|2215  GOLIAD RD, ...|
|102  PALFREY ST W...|
|114  LA GARDE ST,...|
|734  CLEARVIEW DR...|
|BANDERA RD and BR...|
|10133  FIGARO CAN...|
|10133  FIGARO CAN...|
|10133  FIGARO CAN...|
|10133  FIGARO CAN...|
|10133  FIGARO CAN...|
|10133  FIGARO CAN...|
|10129  BOXING PAS...|
|10129  BOXING PAS...|
|10129  BOXING PAS...|
|834  BARREL POINT...|
|834  BARREL POINT...|
|834  BARREL POINT...|
|834  BARREL POINT...|
|834  BARREL POINT...|
+--------------------+
only showing top 20 rows

In [59]:
df.select('request_address').show(truncate=False)

+----------------------------------------+
|request_address                         |
+----------------------------------------+
|2315  EL PASO ST, San Antonio, 78207    |
|2215  GOLIAD RD, San Antonio, 78223     |
|102  PALFREY ST W, San Antonio, 78223   |
|114  LA GARDE ST, San Antonio, 78223    |
|734  CLEARVIEW DR, San Antonio, 78228   |
|BANDERA RD and BRESNAHAN                |
|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|
|10129  BOXING PASS, San Antonio, 78251  |
|10129  BOXING PASS, San Antonio, 78251  |
|10129  BOXING PASS, San Antonio, 78251  |
|834  BARREL POINT, San Antonio, 78251   |
|834  BARREL POINT, San Antonio, 78251   |
|834  BARREL POINT, San Antonio, 78251   |
|834  BARREL POINT, San Antonio, 78251   |
|834  BARREL POINT, San Antonio, 78251   |
+----------------------------------------+
only showing top 20 rows

In [60]:
(df
.select(upper(df.request_address)).show(truncate=False))

+----------------------------------------+
|upper(request_address)                  |
+----------------------------------------+
|2315  EL PASO ST, SAN ANTONIO, 78207    |
|2215  GOLIAD RD, SAN ANTONIO, 78223     |
|102  PALFREY ST W, SAN ANTONIO, 78223   |
|114  LA GARDE ST, SAN ANTONIO, 78223    |
|734  CLEARVIEW DR, SAN ANTONIO, 78228   |
|BANDERA RD AND BRESNAHAN                |
|10133  FIGARO CANYON, SAN ANTONIO, 78251|
|10133  FIGARO CANYON, SAN ANTONIO, 78251|
|10133  FIGARO CANYON, SAN ANTONIO, 78251|
|10133  FIGARO CANYON, SAN ANTONIO, 78251|
|10133  FIGARO CANYON, SAN ANTONIO, 78251|
|10133  FIGARO CANYON, SAN ANTONIO, 78251|
|10129  BOXING PASS, SAN ANTONIO, 78251  |
|10129  BOXING PASS, SAN ANTONIO, 78251  |
|10129  BOXING PASS, SAN ANTONIO, 78251  |
|834  BARREL POINT, SAN ANTONIO, 78251   |
|834  BARREL POINT, SAN ANTONIO, 78251   |
|834  BARREL POINT, SAN ANTONIO, 78251   |
|834  BARREL POINT, SAN ANTONIO, 78251   |
|834  BARREL POINT, SAN ANTONIO, 78251   |
+----------------------------------------+
only showing top 20 rows

In [61]:
(df
.select(lower(df.request_address)).show(truncate=False))

+----------------------------------------+
|lower(request_address)                  |
+----------------------------------------+
|2315  el paso st, san antonio, 78207    |
|2215  goliad rd, san antonio, 78223     |
|102  palfrey st w, san antonio, 78223   |
|114  la garde st, san antonio, 78223    |
|734  clearview dr, san antonio, 78228   |
|bandera rd and bresnahan                |
|10133  figaro canyon, san antonio, 78251|
|10133  figaro canyon, san antonio, 78251|
|10133  figaro canyon, san antonio, 78251|
|10133  figaro canyon, san antonio, 78251|
|10133  figaro canyon, san antonio, 78251|
|10133  figaro canyon, san antonio, 78251|
|10129  boxing pass, san antonio, 78251  |
|10129  boxing pass, san antonio, 78251  |
|10129  boxing pass, san antonio, 78251  |
|834  barrel point, san antonio, 78251   |
|834  barrel point, san antonio, 78251   |
|834  barrel point, san antonio, 78251   |
|834  barrel point, san antonio, 78251   |
|834  barrel point, san antonio, 78251   |
+----------------------------------------+
only showing top 20 rows

In [63]:
(df
.select(lower(df.request_address)).show(3, truncate=False,vertical=True))

-RECORD 0-------------------------------------------------------
 lower(request_address) | 2315  el paso st, san antonio, 78207
-RECORD 1-------------------------------------------------------
 lower(request_address) | 2215  goliad rd, san antonio, 78223
-RECORD 2-------------------------------------------------------
 lower(request_address) | 102  palfrey st w, san antonio, 78223
only showing top 3 rows

In [62]:
df.select(substring(df.request_address, 3, 6)).show(3, truncate=False)

+--------------------------------+
|substring(request_address, 3, 6)|
+--------------------------------+
|15  EL                          |
|15  GO                          |
|2  PAL                          |
+--------------------------------+
only showing top 3 rows

slicing in to grab a handful of characters

In [64]:
df.select(df.request_address, substring(df.request_address, 8, 6)).show(3, truncate=False)

+-------------------------------------+--------------------------------+
|request_address                      |substring(request_address, 8, 6)|
+-------------------------------------+--------------------------------+
|2315  EL PASO ST, San Antonio, 78207 |L PASO                          |
|2215  GOLIAD RD, San Antonio, 78223  |OLIAD                           |
|102  PALFREY ST W, San Antonio, 78223|LFREY                           |
+-------------------------------------+--------------------------------+
only showing top 3 rows

In [65]:
(df.select(df.request_address)
 .show(truncate=False))

+----------------------------------------+
|request_address                         |
+----------------------------------------+
|2315  EL PASO ST, San Antonio, 78207    |
|2215  GOLIAD RD, San Antonio, 78223     |
|102  PALFREY ST W, San Antonio, 78223   |
|114  LA GARDE ST, San Antonio, 78223    |
|734  CLEARVIEW DR, San Antonio, 78228   |
|BANDERA RD and BRESNAHAN                |
|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|
|10129  BOXING PASS, San Antonio, 78251  |
|10129  BOXING PASS, San Antonio, 78251  |
|10129  BOXING PASS, San Antonio, 78251  |
|834  BARREL POINT, San Antonio, 78251   |
|834  BARREL POINT, San Antonio, 78251   |
|834  BARREL POINT, San Antonio, 78251   |
|834  BARREL POINT, San Antonio, 78251   |
|834  BARREL POINT, San Antonio, 78251   |
+----------------------------------------+
only showing top 20 rows

slicing into cells using regex

In [66]:
(df.select(df.request_address, regexp_extract(df.request_address, r'\d+$',0).alias('zip'))
 .show(truncate=False))

+----------------------------------------+-----+
|request_address                         |zip  |
+----------------------------------------+-----+
|2315  EL PASO ST, San Antonio, 78207    |78207|
|2215  GOLIAD RD, San Antonio, 78223     |78223|
|102  PALFREY ST W, San Antonio, 78223   |78223|
|114  LA GARDE ST, San Antonio, 78223    |78223|
|734  CLEARVIEW DR, San Antonio, 78228   |78228|
|BANDERA RD and BRESNAHAN                |     |
|10133  FIGARO CANYON, San Antonio, 78251|78251|
|10133  FIGARO CANYON, San Antonio, 78251|78251|
|10133  FIGARO CANYON, San Antonio, 78251|78251|
|10133  FIGARO CANYON, San Antonio, 78251|78251|
|10133  FIGARO CANYON, San Antonio, 78251|78251|
|10133  FIGARO CANYON, San Antonio, 78251|78251|
|10129  BOXING PASS, San Antonio, 78251  |78251|
|10129  BOXING PASS, San Antonio, 78251  |78251|
|10129  BOXING PASS, San Antonio, 78251  |78251|
|834  BARREL POINT, San Antonio, 78251   |78251|
|834  BARREL POINT, San Antonio, 78251   |78251|
|834  BARREL POINT, San Antonio, 78251   |78251|
|834  BARREL POINT, San Antonio, 78251   |78251|
|834  BARREL POINT, San Antonio, 78251   |78251|
+----------------------------------------+-----+
only showing top 20 rows

slicing in using regex, but with the regex in a variable, and then referencing which piece of the variable to use, hence the 0 or 1 or 2

In [67]:
address_re = r'(.+?),\s+(\d+)$'

(df.select(df.request_address, regexp_extract(df.request_address, address_re,0).alias('zip'))
  .show(truncate=False))

+----------------------------------------+----------------------------------------+
|request_address                         |zip                                     |
+----------------------------------------+----------------------------------------+
|2315  EL PASO ST, San Antonio, 78207    |2315  EL PASO ST, San Antonio, 78207    |
|2215  GOLIAD RD, San Antonio, 78223     |2215  GOLIAD RD, San Antonio, 78223     |
|102  PALFREY ST W, San Antonio, 78223   |102  PALFREY ST W, San Antonio, 78223   |
|114  LA GARDE ST, San Antonio, 78223    |114  LA GARDE ST, San Antonio, 78223    |
|734  CLEARVIEW DR, San Antonio, 78228   |734  CLEARVIEW DR, San Antonio, 78228   |
|BANDERA RD and BRESNAHAN                |                                        |
|10133  FIGARO CANYON, San Antonio, 78251|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|10133  FIGARO CANYON, San Antonio, 78251|
|10133  FIGARO CANYON, San Antonio, 78251|10133  FIGARO CANYON, San Antonio, 78251|
|10129  BOXING PASS, San Antonio, 78251  |10129  BOXING PASS, San Antonio, 78251  |
|10129  BOXING PASS, San Antonio, 78251  |10129  BOXING PASS, San Antonio, 78251  |
|10129  BOXING PASS, San Antonio, 78251  |10129  BOXING PASS, San Antonio, 78251  |
|834  BARREL POINT, San Antonio, 78251   |834  BARREL POINT, San Antonio, 78251   |
|834  BARREL POINT, San Antonio, 78251   |834  BARREL POINT, San Antonio, 78251   |
|834  BARREL POINT, San Antonio, 78251   |834  BARREL POINT, San Antonio, 78251   |
|834  BARREL POINT, San Antonio, 78251   |834  BARREL POINT, San Antonio, 78251   |
|834  BARREL POINT, San Antonio, 78251   |834  BARREL POINT, San Antonio, 78251   |
+----------------------------------------+----------------------------------------+
only showing top 20 rows

In [68]:
address_re = r'(.+?),\s+(\d+)$'

(df.select(df.request_address, regexp_extract(df.request_address, address_re,1).alias('zip'))
  .show(truncate=False))

+----------------------------------------+---------------------------------+
|request_address                         |zip                              |
+----------------------------------------+---------------------------------+
|2315  EL PASO ST, San Antonio, 78207    |2315  EL PASO ST, San Antonio    |
|2215  GOLIAD RD, San Antonio, 78223     |2215  GOLIAD RD, San Antonio     |
|102  PALFREY ST W, San Antonio, 78223   |102  PALFREY ST W, San Antonio   |
|114  LA GARDE ST, San Antonio, 78223    |114  LA GARDE ST, San Antonio    |
|734  CLEARVIEW DR, San Antonio, 78228   |734  CLEARVIEW DR, San Antonio   |
|BANDERA RD and BRESNAHAN                |                                 |
|10133  FIGARO CANYON, San Antonio, 78251|10133  FIGARO CANYON, San Antonio|
|10133  FIGARO CANYON, San Antonio, 78251|10133  FIGARO CANYON, San Antonio|
|10133  FIGARO CANYON, San Antonio, 78251|10133  FIGARO CANYON, San Antonio|
|10133  FIGARO CANYON, San Antonio, 78251|10133  FIGARO CANYON, San Antonio|
|10133  FIGARO CANYON, San Antonio, 78251|10133  FIGARO CANYON, San Antonio|
|10133  FIGARO CANYON, San Antonio, 78251|10133  FIGARO CANYON, San Antonio|
|10129  BOXING PASS, San Antonio, 78251  |10129  BOXING PASS, San Antonio  |
|10129  BOXING PASS, San Antonio, 78251  |10129  BOXING PASS, San Antonio  |
|10129  BOXING PASS, San Antonio, 78251  |10129  BOXING PASS, San Antonio  |
|834  BARREL POINT, San Antonio, 78251   |834  BARREL POINT, San Antonio   |
|834  BARREL POINT, San Antonio, 78251   |834  BARREL POINT, San Antonio   |
|834  BARREL POINT, San Antonio, 78251   |834  BARREL POINT, San Antonio   |
|834  BARREL POINT, San Antonio, 78251   |834  BARREL POINT, San Antonio   |
|834  BARREL POINT, San Antonio, 78251   |834  BARREL POINT, San Antonio   |
+----------------------------------------+---------------------------------+
only showing top 20 rows

In [69]:
address_re = r'(.+?),\s+(\d+)$'

(df.select(df.request_address, regexp_extract(df.request_address, address_re,2).alias('zip'))
  .show(truncate=False))

+----------------------------------------+-----+
|request_address                         |zip  |
+----------------------------------------+-----+
|2315  EL PASO ST, San Antonio, 78207    |78207|
|2215  GOLIAD RD, San Antonio, 78223     |78223|
|102  PALFREY ST W, San Antonio, 78223   |78223|
|114  LA GARDE ST, San Antonio, 78223    |78223|
|734  CLEARVIEW DR, San Antonio, 78228   |78228|
|BANDERA RD and BRESNAHAN                |     |
|10133  FIGARO CANYON, San Antonio, 78251|78251|
|10133  FIGARO CANYON, San Antonio, 78251|78251|
|10133  FIGARO CANYON, San Antonio, 78251|78251|
|10133  FIGARO CANYON, San Antonio, 78251|78251|
|10133  FIGARO CANYON, San Antonio, 78251|78251|
|10133  FIGARO CANYON, San Antonio, 78251|78251|
|10129  BOXING PASS, San Antonio, 78251  |78251|
|10129  BOXING PASS, San Antonio, 78251  |78251|
|10129  BOXING PASS, San Antonio, 78251  |78251|
|834  BARREL POINT, San Antonio, 78251   |78251|
|834  BARREL POINT, San Antonio, 78251   |78251|
|834  BARREL POINT, San Antonio, 78251   |78251|
|834  BARREL POINT, San Antonio, 78251   |78251|
|834  BARREL POINT, San Antonio, 78251   |78251|
+----------------------------------------+-----+
only showing top 20 rows

*see zach's code for some regex on how to grab just the city and zip*

see the schema and data types

In [70]:
df.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- case_opened_date: string (nullable = true)
 |-- case_closed_date: string (nullable = true)
 |-- SLA_due_date: string (nullable = true)
 |-- case_late: string (nullable = true)
 |-- num_days_late: double (nullable = true)
 |-- case_closed: string (nullable = true)
 |-- dept_division: string (nullable = true)
 |-- service_request_type: string (nullable = true)
 |-- SLA_days: double (nullable = true)
 |-- case_status: string (nullable = true)
 |-- source_id: string (nullable = true)
 |-- request_address: string (nullable = true)
 |-- council_district: integer (nullable = true)

look at the date and time.

In [71]:
df.select(df.case_opened_date).show()

+----------------+
|case_opened_date|
+----------------+
|     1/1/18 0:42|
|     1/1/18 0:46|
|     1/1/18 0:48|
|     1/1/18 1:29|
|     1/1/18 1:34|
|     1/1/18 6:28|
|     1/1/18 6:57|
|     1/1/18 6:58|
|     1/1/18 6:58|
|     1/1/18 6:59|
|     1/1/18 7:00|
|     1/1/18 7:02|
|     1/1/18 7:02|
|     1/1/18 7:03|
|     1/1/18 7:04|
|     1/1/18 7:04|
|     1/1/18 7:05|
|     1/1/18 7:06|
|     1/1/18 7:06|
|     1/1/18 7:07|
+----------------+
only showing top 20 rows

In [72]:
df.select(df.case_opened_date.cast('timestamp')).show()

+----------------+
|case_opened_date|
+----------------+
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
|            null|
+----------------+
only showing top 20 rows

In [73]:
(df
 .select(to_timestamp(df.case_opened_date, 'M/d/y H:mm'))
 .show())

+----------------------------------------------+
|to_timestamp(`case_opened_date`, 'M/d/y H:mm')|
+----------------------------------------------+
|                           2018-01-01 00:42:00|
|                           2018-01-01 00:46:00|
|                           2018-01-01 00:48:00|
|                           2018-01-01 01:29:00|
|                           2018-01-01 01:34:00|
|                           2018-01-01 06:28:00|
|                           2018-01-01 06:57:00|
|                           2018-01-01 06:58:00|
|                           2018-01-01 06:58:00|
|                           2018-01-01 06:59:00|
|                           2018-01-01 07:00:00|
|                           2018-01-01 07:02:00|
|                           2018-01-01 07:02:00|
|                           2018-01-01 07:03:00|
|                           2018-01-01 07:04:00|
|                           2018-01-01 07:04:00|
|                           2018-01-01 07:05:00|
|                           2018-01-01 07:06:00|
|                           2018-01-01 07:06:00|
|                           2018-01-01 07:07:00|
+----------------------------------------------+
only showing top 20 rows

In [74]:
(df
 .select(to_timestamp(df.case_opened_date, 'M/d/y H:mm').alias('ts'))
 .show())

+-------------------+
|                 ts|
+-------------------+
|2018-01-01 00:42:00|
|2018-01-01 00:46:00|
|2018-01-01 00:48:00|
|2018-01-01 01:29:00|
|2018-01-01 01:34:00|
|2018-01-01 06:28:00|
|2018-01-01 06:57:00|
|2018-01-01 06:58:00|
|2018-01-01 06:58:00|
|2018-01-01 06:59:00|
|2018-01-01 07:00:00|
|2018-01-01 07:02:00|
|2018-01-01 07:02:00|
|2018-01-01 07:03:00|
|2018-01-01 07:04:00|
|2018-01-01 07:04:00|
|2018-01-01 07:05:00|
|2018-01-01 07:06:00|
|2018-01-01 07:06:00|
|2018-01-01 07:07:00|
+-------------------+
only showing top 20 rows

In [75]:
(df
 .select(to_timestamp(df.case_opened_date, 'M/d/y H:mm').alias('ts'))
 .show())

+-------------------+
|                 ts|
+-------------------+
|2018-01-01 00:42:00|
|2018-01-01 00:46:00|
|2018-01-01 00:48:00|
|2018-01-01 01:29:00|
|2018-01-01 01:34:00|
|2018-01-01 06:28:00|
|2018-01-01 06:57:00|
|2018-01-01 06:58:00|
|2018-01-01 06:58:00|
|2018-01-01 06:59:00|
|2018-01-01 07:00:00|
|2018-01-01 07:02:00|
|2018-01-01 07:02:00|
|2018-01-01 07:03:00|
|2018-01-01 07:04:00|
|2018-01-01 07:04:00|
|2018-01-01 07:05:00|
|2018-01-01 07:06:00|
|2018-01-01 07:06:00|
|2018-01-01 07:07:00|
+-------------------+
only showing top 20 rows

In [76]:
(df
 .select(to_timestamp(df.case_opened_date, 'M/d/y H:mm').alias('timestamp'))
 .select(col('timestamp'),
         datediff(current_timestamp(), col('timestamp')).alias('days_since_now'))
 .show())

+-------------------+--------------+
|          timestamp|days_since_now|
+-------------------+--------------+
|2018-01-01 00:42:00|           499|
|2018-01-01 00:46:00|           499|
|2018-01-01 00:48:00|           499|
|2018-01-01 01:29:00|           499|
|2018-01-01 01:34:00|           499|
|2018-01-01 06:28:00|           499|
|2018-01-01 06:57:00|           499|
|2018-01-01 06:58:00|           499|
|2018-01-01 06:58:00|           499|
|2018-01-01 06:59:00|           499|
|2018-01-01 07:00:00|           499|
|2018-01-01 07:02:00|           499|
|2018-01-01 07:02:00|           499|
|2018-01-01 07:03:00|           499|
|2018-01-01 07:04:00|           499|
|2018-01-01 07:04:00|           499|
|2018-01-01 07:05:00|           499|
|2018-01-01 07:06:00|           499|
|2018-01-01 07:06:00|           499|
|2018-01-01 07:07:00|           499|
+-------------------+--------------+
only showing top 20 rows

In [77]:
df.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- case_opened_date: string (nullable = true)
 |-- case_closed_date: string (nullable = true)
 |-- SLA_due_date: string (nullable = true)
 |-- case_late: string (nullable = true)
 |-- num_days_late: double (nullable = true)
 |-- case_closed: string (nullable = true)
 |-- dept_division: string (nullable = true)
 |-- service_request_type: string (nullable = true)
 |-- SLA_days: double (nullable = true)
 |-- case_status: string (nullable = true)
 |-- source_id: string (nullable = true)
 |-- request_address: string (nullable = true)
 |-- council_district: integer (nullable = true)

In [78]:
df.select(df.num_days_late).show()

+-------------------+
|      num_days_late|
+-------------------+
| -998.5087616000001|
|-2.0126041669999997|
|       -3.022337963|
|       -15.01148148|
|0.37216435200000003|
|       -29.74398148|
|       -14.70673611|
|       -14.70662037|
|       -14.70662037|
|       -14.70649306|
|       -14.70649306|
|       -14.70636574|
|          -14.70625|
|       -14.70636574|
|       -14.70623843|
|-14.705891199999998|
|       -14.70600694|
|       -14.70576389|
|       -14.70576389|
|       -14.70564815|
+-------------------+
only showing top 20 rows

tranformation: "if numbers of days late positive, keep, otherwise replace with zero"

In [79]:
my_col = when(df.num_days_late >= 0, df.num_days_late).otherwise(0)

(df
 .select(df.num_days_late)
 .select(my_col)
 .show())

+------------------------------------------------------------+
|CASE WHEN (num_days_late >= 0) THEN num_days_late ELSE 0 END|
+------------------------------------------------------------+
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                         0.37216435200000003|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
|                                                         0.0|
+------------------------------------------------------------+
only showing top 20 rows

the inverse, yet shows the same result, notice the first line in the variable

In [80]:
my_col = when(df.num_days_late < 0, 0).otherwise(df.num_days_late)

(df
 .select(df.num_days_late)
 .select(my_col)
 .show())

+-----------------------------------------------------------+
|CASE WHEN (num_days_late < 0) THEN 0 ELSE num_days_late END|
+-----------------------------------------------------------+
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                        0.37216435200000003|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
|                                                        0.0|
+-----------------------------------------------------------+
only showing top 20 rows

Below creates a filter

In [81]:
(df
 .select(df.case_closed, df.case_late, df.num_days_late)
 .select((df.case_closed == "YES").alias('case_closed'),
         (df.case_late == "YES").alias('case_late'),
        df.num_days_late)
 .filter(col('case_late'))
 .show())

+-----------+---------+-------------------+
|case_closed|case_late|      num_days_late|
+-----------+---------+-------------------+
|       true|     true|0.37216435200000003|
|       true|     true|         0.03150463|
|       true|     true|        80.74537037|
|       true|     true|0.38280092600000004|
|       true|     true|        0.376655093|
|       true|     true|        46.41153935|
|       true|     true|        0.048368056|
|       true|     true|         36.1630787|
|       true|     true|        25.36005787|
|       true|     true| 1.8262268519999998|
|       true|     true|         46.3819213|
|       true|     true|        46.38175926|
|       true|     true|        72.39403935|
|       true|     true| 113.73300929999999|
|       true|     true|        79.13157407|
|       true|     true|        3.450983796|
|       true|     true|        73.16055556|
|       true|     true|        1.339675926|
|       true|     true|        68.02585648|
|       true|     true|        72.37243056|
+-----------+---------+-------------------+
only showing top 20 rows

In [82]:
(df
 .select(df.case_closed, df.case_late, df.num_days_late)
 .withColumn('case_closed', df.case_closed == "YES")
 .withColumn('case_late', df.case_late == "YES")
 .filter(col('case_late'))
 .show())

+-----------+---------+-------------------+
|case_closed|case_late|      num_days_late|
+-----------+---------+-------------------+
|       true|     true|0.37216435200000003|
|       true|     true|         0.03150463|
|       true|     true|        80.74537037|
|       true|     true|0.38280092600000004|
|       true|     true|        0.376655093|
|       true|     true|        46.41153935|
|       true|     true|        0.048368056|
|       true|     true|         36.1630787|
|       true|     true|        25.36005787|
|       true|     true| 1.8262268519999998|
|       true|     true|         46.3819213|
|       true|     true|        46.38175926|
|       true|     true|        72.39403935|
|       true|     true| 113.73300929999999|
|       true|     true|        79.13157407|
|       true|     true|        3.450983796|
|       true|     true|        73.16055556|
|       true|     true|        1.339675926|
|       true|     true|        68.02585648|
|       true|     true|        72.37243056|
+-----------+---------+-------------------+
only showing top 20 rows

below, same thing as above, just written differently

this also uses a filter, with the multiple .where statement

In [83]:
(df
 .select(df.case_closed, df.case_late, df.num_days_late)
 .withColumn('case_closed', df.case_closed == "YES")
 .withColumn('case_late', df.case_late == "YES")
 .where(col('case_late'))
 .where(col('case_closed'))
 .show())

+-----------+---------+-------------------+
|case_closed|case_late|      num_days_late|
+-----------+---------+-------------------+
|       true|     true|0.37216435200000003|
|       true|     true|         0.03150463|
|       true|     true|        80.74537037|
|       true|     true|0.38280092600000004|
|       true|     true|        0.376655093|
|       true|     true|        46.41153935|
|       true|     true|        0.048368056|
|       true|     true|         36.1630787|
|       true|     true|        25.36005787|
|       true|     true| 1.8262268519999998|
|       true|     true|         46.3819213|
|       true|     true|        46.38175926|
|       true|     true|        72.39403935|
|       true|     true| 113.73300929999999|
|       true|     true|        79.13157407|
|       true|     true|        3.450983796|
|       true|     true|        73.16055556|
|       true|     true|        1.339675926|
|       true|     true|        68.02585648|
|       true|     true|        72.37243056|
+-----------+---------+-------------------+
only showing top 20 rows

this filters using an OR statement, either case_late or case_closed

In [84]:
(df
 .select(df.case_closed, df.case_late, df.num_days_late)
 .withColumn('case_closed', df.case_closed == "YES")
 .withColumn('case_late', df.case_late == "YES")
 .filter(col('case_late') | col('case_closed'))
 .show())

+-----------+---------+-------------------+
|case_closed|case_late|      num_days_late|
+-----------+---------+-------------------+
|       true|    false| -998.5087616000001|
|       true|    false|-2.0126041669999997|
|       true|    false|       -3.022337963|
|       true|    false|       -15.01148148|
|       true|     true|0.37216435200000003|
|       true|    false|       -29.74398148|
|       true|    false|       -14.70673611|
|       true|    false|       -14.70662037|
|       true|    false|       -14.70662037|
|       true|    false|       -14.70649306|
|       true|    false|       -14.70649306|
|       true|    false|       -14.70636574|
|       true|    false|          -14.70625|
|       true|    false|       -14.70636574|
|       true|    false|       -14.70623843|
|       true|    false|-14.705891199999998|
|       true|    false|       -14.70600694|
|       true|    false|       -14.70576389|
|       true|    false|       -14.70576389|
|       true|    false|       -14.70564815|
+-----------+---------+-------------------+
only showing top 20 rows

## Joining

### Set operations in Spark, like combining dataframes, etc.

Supported join types include:

'inner', 'outer', 'full', 'fullouter', 'full_outer', 'leftouter', 'left', 'left_outer', 'rightouter', 'right', 'right_outer', 'leftsemi', 'left_semi', 'leftanti', 'left_anti', 'cross'."

In [101]:
users = spark.read.csv('users.csv', header=True, inferSchema=True)
roles = spark.read.csv('roles.csv', header=True, inferSchema=True)
users.show()
roles.show()

+---+-----+-----------------+-------+
| id| name|            email|role_id|
+---+-----+-----------------+-------+
|  1|  bob|  bob@example.com|      1|
|  2|  joe|  joe@example.com|      2|
|  3|sally|sally@example.com|      3|
|  4| adam| adam@example.com|      3|
|  5| jane| jane@example.com|   NULL|
|  6| mike| mike@example.com|   NULL|
+---+-----+-----------------+-------+

+---+---------+
| id|     name|
+---+---------+
|  1|    admin|
|  2|   author|
|  3| reviewer|
|  4|commenter|
+---+---------+

In [102]:
users.join(roles, users.role_id == roles.id, 'inner').show()

+---+-----+-----------------+-------+---+--------+
| id| name|            email|role_id| id|    name|
+---+-----+-----------------+-------+---+--------+
|  1|  bob|  bob@example.com|      1|  1|   admin|
|  2|  joe|  joe@example.com|      2|  2|  author|
|  3|sally|sally@example.com|      3|  3|reviewer|
|  4| adam| adam@example.com|      3|  3|reviewer|
+---+-----+-----------------+-------+---+--------+

In [103]:
how = 'outer'# one of left, right, inner, outter, etc

users.join(roles, users.role_id == roles.id, how).show()

+----+-----+-----------------+-------+----+---------+
|  id| name|            email|role_id|  id|     name|
+----+-----+-----------------+-------+----+---------+
|   5| jane| jane@example.com|   NULL|null|     null|
|   6| mike| mike@example.com|   NULL|null|     null|
|   1|  bob|  bob@example.com|      1|   1|    admin|
|   3|sally|sally@example.com|      3|   3| reviewer|
|   4| adam| adam@example.com|      3|   3| reviewer|
|null| null|             null|   null|   4|commenter|
|   2|  joe|  joe@example.com|      2|   2|   author|
+----+-----+-----------------+-------+----+---------+

In [104]:
users.join(roles, users.role_id == roles.id, 'outer').show()

+----+-----+-----------------+-------+----+---------+
|  id| name|            email|role_id|  id|     name|
+----+-----+-----------------+-------+----+---------+
|   5| jane| jane@example.com|   NULL|null|     null|
|   6| mike| mike@example.com|   NULL|null|     null|
|   1|  bob|  bob@example.com|      1|   1|    admin|
|   3|sally|sally@example.com|      3|   3| reviewer|
|   4| adam| adam@example.com|      3|   3| reviewer|
|null| null|             null|   null|   4|commenter|
|   2|  joe|  joe@example.com|      2|   2|   author|
+----+-----+-----------------+-------+----+---------+

In [88]:
users.join(roles, users.role_id == roles.id, 'left').show()

+---+-----+-----------------+-------+----+--------+
| id| name|            email|role_id|  id|    name|
+---+-----+-----------------+-------+----+--------+
|  1|  bob|  bob@example.com|      1|   1|   admin|
|  2|  joe|  joe@example.com|      2|   2|  author|
|  3|sally|sally@example.com|      3|   3|reviewer|
|  4| adam| adam@example.com|      3|   3|reviewer|
|  5| jane| jane@example.com|   NULL|null|    null|
|  6| mike| mike@example.com|   NULL|null|    null|
+---+-----+-----------------+-------+----+--------+

In [89]:
users.join(roles, users.role_id == roles.id, 'right').show()

+----+-----+-----------------+-------+---+---------+
|  id| name|            email|role_id| id|     name|
+----+-----+-----------------+-------+---+---------+
|   1|  bob|  bob@example.com|      1|  1|    admin|
|   2|  joe|  joe@example.com|      2|  2|   author|
|   4| adam| adam@example.com|      3|  3| reviewer|
|   3|sally|sally@example.com|      3|  3| reviewer|
|null| null|             null|   null|  4|commenter|
+----+-----+-----------------+-------+---+---------+

In [90]:
users.join(roles, users.role_id == roles.id, 'left_anti').show()

+---+----+----------------+-------+
| id|name|           email|role_id|
+---+----+----------------+-------+
|  5|jane|jane@example.com|   NULL|
|  6|mike|mike@example.com|   NULL|
+---+----+----------------+-------+

In [91]:
users.join(roles, users.role_id == roles.id, 'full').show()

+----+-----+-----------------+-------+----+---------+
|  id| name|            email|role_id|  id|     name|
+----+-----+-----------------+-------+----+---------+
|   3|sally|sally@example.com|      3|   3| reviewer|
|   4| adam| adam@example.com|      3|   3| reviewer|
|   1|  bob|  bob@example.com|      1|   1|    admin|
|null| null|             null|   null|   4|commenter|
|   2|  joe|  joe@example.com|      2|   2|   author|
|   5| jane| jane@example.com|   NULL|null|     null|
|   6| mike| mike@example.com|   NULL|null|     null|
+----+-----+-----------------+-------+----+---------+

Below is every possible combination of the two tables, using a crossJoin:

In [92]:
users.crossJoin(roles).show()

+---+-----+-----------------+-------+---+---------+
| id| name|            email|role_id| id|     name|
+---+-----+-----------------+-------+---+---------+
|  1|  bob|  bob@example.com|      1|  1|    admin|
|  1|  bob|  bob@example.com|      1|  2|   author|
|  1|  bob|  bob@example.com|      1|  3| reviewer|
|  1|  bob|  bob@example.com|      1|  4|commenter|
|  2|  joe|  joe@example.com|      2|  1|    admin|
|  2|  joe|  joe@example.com|      2|  2|   author|
|  2|  joe|  joe@example.com|      2|  3| reviewer|
|  2|  joe|  joe@example.com|      2|  4|commenter|
|  3|sally|sally@example.com|      3|  1|    admin|
|  3|sally|sally@example.com|      3|  2|   author|
|  3|sally|sally@example.com|      3|  3| reviewer|
|  3|sally|sally@example.com|      3|  4|commenter|
|  4| adam| adam@example.com|      3|  1|    admin|
|  4| adam| adam@example.com|      3|  2|   author|
|  4| adam| adam@example.com|      3|  3| reviewer|
|  4| adam| adam@example.com|      3|  4|commenter|
|  5| jane| jane@example.com|   NULL|  1|    admin|
|  5| jane| jane@example.com|   NULL|  2|   author|
|  5| jane| jane@example.com|   NULL|  3| reviewer|
|  5| jane| jane@example.com|   NULL|  4|commenter|
+---+-----+-----------------+-------+---+---------+
only showing top 20 rows

below is like concatenating two dfs together, stacking them together

In [93]:
users.union(users).show()

+---+-----+-----------------+-------+
| id| name|            email|role_id|
+---+-----+-----------------+-------+
|  1|  bob|  bob@example.com|      1|
|  2|  joe|  joe@example.com|      2|
|  3|sally|sally@example.com|      3|
|  4| adam| adam@example.com|      3|
|  5| jane| jane@example.com|   NULL|
|  6| mike| mike@example.com|   NULL|
|  1|  bob|  bob@example.com|      1|
|  2|  joe|  joe@example.com|      2|
|  3|sally|sally@example.com|      3|
|  4| adam| adam@example.com|      3|
|  5| jane| jane@example.com|   NULL|
|  6| mike| mike@example.com|   NULL|
+---+-----+-----------------+-------+

### random splitting, using randomSplit():

*this is very handy when doing train, test split*

In [94]:
df.randomSplit([.6,.4])

[DataFrame[case_id: int, case_opened_date: string, case_closed_date: string, SLA_due_date: string, case_late: string, num_days_late: double, case_closed: string, dept_division: string, service_request_type: string, SLA_days: double, case_status: string, source_id: string, request_address: string, council_district: int],
 DataFrame[case_id: int, case_opened_date: string, case_closed_date: string, SLA_due_date: string, case_late: string, num_days_late: double, case_closed: string, dept_division: string, service_request_type: string, SLA_days: double, case_status: string, source_id: string, request_address: string, council_district: int]]

In [95]:
train, test = df.randomSplit([.6,.4])

In [96]:
train, test = df.randomSplit([.6,.4], seed=123)

In [97]:
train, validate, test = df.randomSplit([.6, .2, .2], seed=3)
(train.count(), validate.count(), test.count())

(504429, 168825, 168450)

In [98]:
train, test = df.randomSplit([.3, .1], seed=3)
(train.count(), test.count())

(631138, 210566)

## Aggregating

In [107]:
#df = spark.read.csv('./example_data.csv', header=True)
df = spark.read.csv('./example_data.csv', header=True, inferSchema=True)

In [108]:
df.show()

+----+---+
|   n|  g|
+----+---+
|15.0|  b|
|23.0|  c|
| 6.0|  c|
| NaN|  c|
|26.0|  b|
|12.0|  b|
| 8.0|  a|
|18.0|  c|
|14.0|  a|
|20.0|  c|
|22.0|  a|
|21.0|  a|
| 1.0|  c|
| 0.0|  a|
|17.0|  b|
| 2.0|  a|
| 7.0|  a|
|16.0|  b|
|24.0|  b|
|10.0|  a|
+----+---+
only showing top 20 rows

#### need to change the n column to integers

In [111]:
df = df.na.drop()
df.agg(count(df.n)).show()

+--------+
|count(n)|
+--------+
|      28|
+--------+

In [112]:
df.agg(avg(df.n)).show()

+------------------+
|            avg(n)|
+------------------+
|15.107142857142858|
+------------------+

can swap out count for avg, stddev, max, min, sum,

In [113]:
(df.groupBy('g')
 .agg(count(df.n))
 .show())

# # df.groupBy('g').agg(count(df.n)).show()
# (df.groupBy('g')
#  .agg(expr('count(n)'),
#       expr('sum(n)'),
#       stddev(col('n')),
#       avg(df.n))
#  .show())

+---+--------+
|  g|count(n)|
+---+--------+
|  c|       9|
|  b|       8|
|  a|      11|
+---+--------+

In [114]:
df.groupBy('g').agg(expr('count(n)'), expr('sum(n)')).show()

+---+--------+------+
|  g|count(n)|sum(n)|
+---+--------+------+
|  c|       9| 147.0|
|  b|       8| 148.0|
|  a|      11| 128.0|
+---+--------+------+

In [115]:
(df.groupBy('g')
 .agg(expr('count(n)'),
      expr('sum(n)'),
      stddev(col('n')),
      avg(df.n))
 .show())

+---+--------+------+------------------+------------------+
|  g|count(n)|sum(n)|    stddev_samp(n)|            avg(n)|
+---+--------+------+------------------+------------------+
|  c|       9| 147.0|10.222524150130436|16.333333333333332|
|  b|       8| 148.0| 5.631543812693435|              18.5|
|  a|      11| 128.0| 8.823522281637047|11.636363636363637|
+---+--------+------+------------------+------------------+

In [116]:
df = spark.read.csv('./case.csv', header=True, inferSchema=True)

In [118]:
(df
 .select('case_late', 'case_closed', 'num_days_late')
 .show())

+---------+-----------+-------------------+
|case_late|case_closed|      num_days_late|
+---------+-----------+-------------------+
|       NO|        YES| -998.5087616000001|
|       NO|        YES|-2.0126041669999997|
|       NO|        YES|       -3.022337963|
|       NO|        YES|       -15.01148148|
|      YES|        YES|0.37216435200000003|
|       NO|        YES|       -29.74398148|
|       NO|        YES|       -14.70673611|
|       NO|        YES|       -14.70662037|
|       NO|        YES|       -14.70662037|
|       NO|        YES|       -14.70649306|
|       NO|        YES|       -14.70649306|
|       NO|        YES|       -14.70636574|
|       NO|        YES|          -14.70625|
|       NO|        YES|       -14.70636574|
|       NO|        YES|       -14.70623843|
|       NO|        YES|-14.705891199999998|
|       NO|        YES|       -14.70600694|
|       NO|        YES|       -14.70576389|
|       NO|        YES|       -14.70576389|
|       NO|        YES|       -14.70564815|
+---------+-----------+-------------------+
only showing top 20 rows

In [117]:
(df
 .select('case_late', 'case_closed','num_days_late')
 .crosstab('case_late', 'case_closed')
 .show())

+---------------------+-----+------+
|case_late_case_closed|   NO|   YES|
+---------------------+-----+------+
|                  YES| 6525| 87978|
|                   NO|11585|735616|
+---------------------+-----+------+

In [119]:
(df
 .select('case_late', 'case_closed','num_days_late')
 .groupby('case_late') #rows
 .pivot('case_closed') #columns
 .agg(count(col('num_days_late'))) #values
 .show())

+---------+-----+------+
|case_late|   NO|   YES|
+---------+-----+------+
|      YES| 6525| 87978|
|       NO|11556|735612|
+---------+-----+------+

In [120]:
(df
 .select('case_late', 'case_closed','num_days_late')
 .groupby('case_late') #rows
 .pivot('case_closed') #columns
 .agg(avg(col('num_days_late'))) #values
 .show())

+---------+-------------------+-------------------+
|case_late|                 NO|                YES|
+---------+-------------------+-------------------+
|      YES|  70.02952998931113| 22.111760411319253|
|       NO|-53.775669814418364|-58.571301683913845|
+---------+-------------------+-------------------+

In [121]:
(df
 .select('case_late', 'case_closed','num_days_late')
 .groupby('case_late') #rows
 .pivot('case_closed') #columns
 .agg(min(col('num_days_late'))) #values
 .show())

+---------+------------+--------------------+
|case_late|          NO|                 YES|
+---------+------------+--------------------+
|      YES| 0.060810185|1.157410000000000...|
|       NO|-1387.630417| -1417.0006019999998|
+---------+------------+--------------------+

In [122]:
(df
 .select('case_late', 'case_closed','num_days_late')
 .groupby('case_late') #rows
 .pivot('case_closed') #columns
 .agg(stddev(col('num_days_late'))) #values
 .show())

+---------+-----------------+------------------+
|case_late|               NO|               YES|
+---------+-----------------+------------------+
|      YES|64.32607823867312|46.653152143236376|
|       NO|82.78607258424778| 185.5498889747184|
+---------+-----------------+------------------+

In [124]:
(df
 .select('case_late', 'case_closed','num_days_late')
 .groupby('case_late') #rows
 .pivot('case_closed') #columns
 .agg(avg(col('num_days_late')), sum(col('num_days_late'))) #values
 .show())

+---------+---------------------+---------------------+----------------------+----------------------+
|case_late|NO_avg(num_days_late)|NO_sum(num_days_late)|YES_avg(num_days_late)|YES_sum(num_days_late)|
+---------+---------------------+---------------------+----------------------+----------------------+
|      YES|    70.02952998931113|    456942.6831802551|    22.111760411319253|    1945348.4574670452|
|       NO|  -53.775669814418364|   -621431.6403754186|   -58.571301683913845|  -4.308575237430723E7|
+---------+---------------------+---------------------+----------------------+----------------------+

In [123]:
(df
 .select('case_late', 'case_closed','num_days_late')
 .groupby('case_late') #rows
 .pivot('case_closed') #columns
 .agg(stddev(col('num_days_late')), sum(col('num_days_late'))) #values
 .show())

+---------+-----------------------------+---------------------+------------------------------+----------------------+
|case_late|NO_stddev_samp(num_days_late)|NO_sum(num_days_late)|YES_stddev_samp(num_days_late)|YES_sum(num_days_late)|
+---------+-----------------------------+---------------------+------------------------------+----------------------+
|      YES|            64.32607823867312|    456942.6831802551|            46.653152143236376|    1945348.4574670452|
|       NO|            82.78607258424778|   -621431.6403754186|             185.5498889747184|  -4.308575237430723E7|
+---------+-----------------------------+---------------------+------------------------------+----------------------+

In [125]:
df = spark.read.csv('/Users/rachelreuter/ds-methodologies/time_series/test_fitbit.csv', header=True)

In [127]:
df.head(1)

[Row(date='2018-04-26', calories_burned='2635', steps='2931', distance='1.38', floors='2', minutes_sedentary='1347', minutes_lightly_active='93', minutes_fairly_active='0', minutes_very_active='0', activity_calories='566', month_set='1')]

In [129]:
(df
 .select(col('Date').alias('date'), col('Steps').alias('steps'))
 .withColumn('date', col('date').cast('date'))
 .withColumn('steps', regexp_replace(col('steps'), r',', ''))
 .withColumn('steps', col('steps').cast('integer'))
 .orderBy('date')
 .groupBy(window(col('date'), '7 days').alias('week'))
 .agg(expr('sum(steps) as total_steps'), expr('avg(steps) as mean_steps'))
 .withColumn('mean_steps', round(col('mean_steps'), 2))
 .sort(col('window'))
 .show(truncate=False))

+------------------------------------------+-----------+----------+
|week                                      |total_steps|mean_steps|
+------------------------------------------+-----------+----------+
|[2018-04-25 19:00:00, 2018-05-02 19:00:00]|23338      |3334.0    |
|[2018-05-02 19:00:00, 2018-05-09 19:00:00]|7512       |1073.14   |
|[2018-05-09 19:00:00, 2018-05-16 19:00:00]|23854      |3407.71   |
|[2018-05-16 19:00:00, 2018-05-23 19:00:00]|53499      |7642.71   |
|[2018-05-23 19:00:00, 2018-05-30 19:00:00]|34140      |4877.14   |
|[2018-05-30 19:00:00, 2018-06-06 19:00:00]|33204      |4743.43   |
|[2018-06-06 19:00:00, 2018-06-13 19:00:00]|22967      |3281.0    |
|[2018-06-13 19:00:00, 2018-06-20 19:00:00]|44824      |6403.43   |
|[2018-06-20 19:00:00, 2018-06-27 19:00:00]|24300      |3471.43   |
|[2018-06-27 19:00:00, 2018-07-04 19:00:00]|4886       |698.0     |
|[2018-07-04 19:00:00, 2018-07-11 19:00:00]|32940      |4705.71   |
|[2018-07-11 19:00:00, 2018-07-18 19:00:00]|58700      |8385.71   |
|[2018-07-18 19:00:00, 2018-07-25 19:00:00]|65945      |9420.71   |
|[2018-07-25 19:00:00, 2018-08-01 19:00:00]|64105      |9157.86   |
|[2018-08-01 19:00:00, 2018-08-08 19:00:00]|84050      |12007.14  |
|[2018-08-08 19:00:00, 2018-08-15 19:00:00]|89538      |12791.14  |
|[2018-08-15 19:00:00, 2018-08-22 19:00:00]|69354      |9907.71   |
|[2018-08-22 19:00:00, 2018-08-29 19:00:00]|55867      |7981.0    |
|[2018-08-29 19:00:00, 2018-09-05 19:00:00]|49259      |7037.0    |
|[2018-09-05 19:00:00, 2018-09-12 19:00:00]|56299      |8042.71   |
+------------------------------------------+-----------+----------+
only showing top 20 rows