In [7]:
import pandas as pd
import numpy as np
from datetime import datetime
import itertools

# JSON API
import requests
import json

# data visualization
import matplotlib
import seaborn as sns
import statsmodels.api as sm

%matplotlib inline

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

from acquire import tsa_acquire_all
from acquire import peekatdata

In [8]:
path = '/Users/rachelreuter/ds-methodologies/time_series/'
df = pd.read_csv(path + 'df.csv')

In [35]:
df.tail(3)

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode
912997,50,74.0,"Fri, 29 Dec 2017 00:00:00 GMT",912998,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.2,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912998,50,62.0,"Sat, 30 Dec 2017 00:00:00 GMT",912999,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.2,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912999,50,82.0,"Sun, 31 Dec 2017 00:00:00 GMT",913000,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.2,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231

In [37]:
df.shape

(913000, 14)

In [39]:
test = df.head(5)

In [ ]:
def time_convert():
    test['date_converted'] = pd.to_datetime(test.sale_date)
    return test

In [44]:
time_convert()

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode,date_converted
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,2013-01-01
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,2013-01-02
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,2013-01-03
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,2013-01-04
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,2013-01-05

In [45]:
test.head(3)

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode,date_converted
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,2013-01-01
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,2013-01-02
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,2013-01-03

In [46]:
test.dtypes

item_id                    int64
sale_amount              float64
sale_date                 object
sale_id                    int64
store_id                   int64
item_brand                object
item_name                 object
item_price               float64
item_upc12                 int64
item_upc14                 int64
store_address             object
store_city                object
store_state               object
store_zipcode              int64
date_converted    datetime64[ns]
dtype: object

In [ ]:
test = test.set_index('date_converted')

In [51]:
test.head(2)

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode
date_converted,,,,,,,,,,,,,,
2013-01-01,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
2013-01-02,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253

In [ ]:
def time_utc():
    test = test.tz_localize('utc')
    return test

time_utc()

In [52]:
test = test.tz_localize('utc')

In [53]:
test.head()

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode
date_converted,,,,,,,,,,,,,,
2013-01-01 00:00:00+00:00,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
2013-01-02 00:00:00+00:00,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
2013-01-03 00:00:00+00:00,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
2013-01-04 00:00:00+00:00,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
2013-01-05 00:00:00+00:00,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253

In [69]:
def time_convert():
    test['date_original'] = pd.to_datetime(test.sale_date)
    test['year'] = test.date_original.dt.year
    test['quarter'] = test.date_original.dt.quarter
    test['month'] = test.date_original.dt.month
    test['day'] = test.date_original.dt.day
    test['weekday'] = test.date_original.dt.weekday
    return test

time_convert()

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,...,store_city,store_state,store_zipcode,date_original,year,quarter,hour,month,day,weekday
date_converted,,,,,,,,,,,,,,,,,,,,,
2013-01-01 00:00:00+00:00,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,...,San Antonio,TX,78253,2013-01-01,2013,1,0,1,1,1
2013-01-02 00:00:00+00:00,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,...,San Antonio,TX,78253,2013-01-02,2013,1,0,1,2,2
2013-01-03 00:00:00+00:00,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,...,San Antonio,TX,78253,2013-01-03,2013,1,0,1,3,3
2013-01-04 00:00:00+00:00,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,...,San Antonio,TX,78253,2013-01-04,2013,1,0,1,4,4
2013-01-05 00:00:00+00:00,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,...,San Antonio,TX,78253,2013-01-05,2013,1,0,1,5,5

In [70]:
test.head(2)

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,...,store_city,store_state,store_zipcode,date_original,year,quarter,hour,month,day,weekday
date_converted,,,,,,,,,,,,,,,,,,,,,
2013-01-01 00:00:00+00:00,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,...,San Antonio,TX,78253,2013-01-01,2013,1,0,1,1,1
2013-01-02 00:00:00+00:00,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,...,San Antonio,TX,78253,2013-01-02,2013,1,0,1,2,2

Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

In [81]:
def sales_tally():
    test['sales_total'] = test.item_price * test.sale_amount
    return test

sales_tally()

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,...,store_state,store_zipcode,date_original,year,quarter,hour,month,day,weekday,sales_total
date_converted,,,,,,,,,,,,,,,,,,,,,
2013-01-01 00:00:00+00:00,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,...,TX,78253,2013-01-01,2013,1,0,1,1,1,10.92
2013-01-02 00:00:00+00:00,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,...,TX,78253,2013-01-02,2013,1,0,1,2,2,9.24
2013-01-03 00:00:00+00:00,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,...,TX,78253,2013-01-03,2013,1,0,1,3,3,11.76
2013-01-04 00:00:00+00:00,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,...,TX,78253,2013-01-04,2013,1,0,1,4,4,10.92
2013-01-05 00:00:00+00:00,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,...,TX,78253,2013-01-05,2013,1,0,1,5,5,8.40

Create a new dataframe that aggregates the sales_total and sale_amount(item count) using sum and median by day of week.

In [82]:
test.resample('D', on='date_converted').mean()

KeyError: 'The grouper name date_converted is not found'

In [ ]:
df.resample('M', on='week_starting').mean()

In [72]:
sales_total

date_converted
2013-01-01 00:00:00+00:00    10.92
2013-01-02 00:00:00+00:00     9.24
2013-01-03 00:00:00+00:00    11.76
2013-01-04 00:00:00+00:00    10.92
2013-01-05 00:00:00+00:00     8.40
dtype: float64

In [ ]:
def weekend_check():
    weekno = test.date_original.dt.weekday()
    if weekno < 5:
        print('Weekday')
    else:
        print('Weekend')

In [67]:
def merge_dfs(df1, df2, how, left, right):
    return pd.merge(df1, df2, how=how, left_on=left, right_on=right,left_index=False, right_index=False)

In [68]:
path = '/Users/rachelreuter/ds-methodologies/time_series/'
items = pd.read_csv(path + 'items.csv')
sales = pd.read_csv(path + 'sales.csv')
stores = pd.read_csv(path + 'stores.csv')

In [69]:
sales.shape

(913000, 6)

In [70]:
#df = pd.merge(sales, items, left_on='item', right_on='item_id')

In [71]:
df = merge_dfs(sales, items, 'left','item','item_id')
df = merge_dfs(df, stores, 'left','store','store_id')

In [72]:
df.shape

(913000, 19)

In [74]:
df.head(2)

,Unnamed: 0_x,item,sale_amount,sale_date,sale_id,store,Unnamed: 0_y,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,Unnamed: 0,store_address,store_city,store_id,store_state,store_zipcode
0,0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,0,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,0,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253

In [75]:
df = df.drop(columns=(['item_id','Unnamed: 0_y','Unnamed: 0_x','store_id','Unnamed: 0']))
#df = df.drop(columns=(['store_id','Unnamed: 0']))

In [76]:
df.shape

(913000, 14)

In [77]:
df.head(3)

,item,sale_amount,sale_date,sale_id,store,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253

In [79]:
print('writing df.csv...')
df.to_csv('df.csv')
print('finished writing df.csv.  DONE.\n')
print('df.tail:\n')
print(df.tail())
print('\n')
print('process completed, data in csv ready.  Full Stop!\n')
#return df

writing df.csv...
finished writing df.csv.  DONE.

df.tail:

        item  sale_amount                      sale_date  sale_id  store  \
912995    50         63.0  Wed, 27 Dec 2017 00:00:00 GMT   912996     10
912996    50         59.0  Thu, 28 Dec 2017 00:00:00 GMT   912997     10
912997    50         74.0  Fri, 29 Dec 2017 00:00:00 GMT   912998     10
912998    50         62.0  Sat, 30 Dec 2017 00:00:00 GMT   912999     10
912999    50         82.0  Sun, 31 Dec 2017 00:00:00 GMT   913000     10

       item_brand                                          item_name  \
912995     Choice  Choice Organic Teas Black Tea Classic Black - ...
912996     Choice  Choice Organic Teas Black Tea Classic Black - ...
912997     Choice  Choice Organic Teas Black Tea Classic Black - ...
912998     Choice  Choice Organic Teas Black Tea Classic Black - ...
912999     Choice  Choice Organic Teas Black Tea Classic Black - ...

        item_price   item_upc12   item_upc14         store_address  \
912995         5.2  47445919221  47445919221  8503 NW Military Hwy
912996         5.2  47445919221  47445919221  8503 NW Military Hwy
912997         5.2  47445919221  47445919221  8503 NW Military Hwy
912998         5.2  47445919221  47445919221  8503 NW Military Hwy
912999         5.2  47445919221  47445919221  8503 NW Military Hwy

         store_city store_state  store_zipcode
912995  San Antonio          TX          78231
912996  San Antonio          TX          78231
912997  San Antonio          TX          78231
912998  San Antonio          TX          78231
912999  San Antonio          TX          78231


process completed, data in csv ready.  Full Stop!

#### 1. Using the code from the lesson as a guide, create a data frame named "items" that has all of the data for items.

In [3]:
base_url = 'https://python.zach.lol'
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

This api provides some documentation, so we can take a look at it.

In [4]:
response = requests.get(base_url + '/documentation')
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

#### 0. Getting the file from web api:

Based on this, let's take a look at the items. We'll make our request, and explore the shape of the response that we get back.

In [5]:
response = requests.get('https://python.zach.lol/api/v1/items')
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [6]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [7]:
print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

max_page: 3
next_page: /api/v1/items?page=2

#### 1.  Extract the data for "items."

There are three pages of data here.  The code should continue fetching data from the next page until all of the data is extracted.

In [37]:
def get_items():
    base_url = 'https://python.zach.lol'
    response = requests.get('https://python.zach.lol/api/v1/items')
    data = response.json()
    items = pd.DataFrame(data['payload']['items'])
    response = requests.get(base_url + data['payload']['next_page'])
    data = response.json()
    while data['payload']['page'] <= data['payload']['max_page']:
        items = pd.concat([items, pd.DataFrame(data['payload']['items'])]).reset_index(drop=True)
        if data['payload']['page'] == data['payload']['max_page']:
            break
        response = requests.get(base_url + data['payload']['next_page'])
        data = response.json()
    return items

In [12]:
def items_2():
    items = get_items()

In [15]:
def items_3():
    items.to_csv('items.csv')

##### Problem 1 complete.

#### 2. Do the same thing, but for stores.

In [24]:
def get_stores():
    response = requests.get('https://python.zach.lol/api/v1/stores')
    data = response.json()
    stores = pd.DataFrame(data['payload']['stores'])
    return stores

In [25]:
stores = get_stores()

In [34]:
stores.shape

(10, 5)

In [39]:
stores.columns

Index(['store_address', 'store_city', 'store_id', 'store_state',
       'store_zipcode'],
      dtype='object')

In [26]:
stores.tail()

            store_address   store_city  store_id store_state store_zipcode
5      1015 S WW White Rd  San Antonio         6          TX         78220
6  12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7     15000 San Pedro Ave  San Antonio         8          TX         78232
8      735 SW Military Dr  San Antonio         9          TX         78221
9    8503 NW Military Hwy  San Antonio        10          TX         78231

In [35]:
stores.to_csv('stores.csv')

##### Problem 2 complete.

#### 3.  Extract the data for sales.

There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [16]:
def get_sales():
    base_url = 'https://python.zach.lol'
    response = requests.get('https://python.zach.lol/api/v1/sales')
    data = response.json()
    sales = pd.DataFrame(data['payload']['sales'])
    response = requests.get(base_url + data['payload']['next_page'])
    data = response.json()
    while data['payload']['page'] <= data['payload']['max_page']:
        sales = pd.concat([sales, pd.DataFrame(data['payload']['sales'])]).reset_index(drop=True)
        if data['payload']['page'] == data['payload']['max_page']:
            break
        response = requests.get(base_url + data['payload']['next_page'])
        data = response.json()
    return sales

In [ ]:
sales = get_sales()

In [38]:
sales.columns

Index(['item', 'sale_amount', 'sale_date', 'sale_id', 'store'], dtype='object')

In [19]:
sales.tail()

        item  sale_amount                      sale_date  sale_id  store
912995    50         63.0  Wed, 27 Dec 2017 00:00:00 GMT   912996     10
912996    50         59.0  Thu, 28 Dec 2017 00:00:00 GMT   912997     10
912997    50         74.0  Fri, 29 Dec 2017 00:00:00 GMT   912998     10
912998    50         62.0  Sat, 30 Dec 2017 00:00:00 GMT   912999     10
912999    50         82.0  Sun, 31 Dec 2017 00:00:00 GMT   913000     10

In [20]:
sales.to_csv('sales.csv')

##### Problem 3 complete.

In [ ]:
cust_churn.to_csv('customer_churn.csv')

In [ ]:
len(data['payload']['sales'])

In [ ]:
response = requests.get('http://example.com')

In [ ]:
response.text

We've seen 404 codes before:  page not found

In [ ]:
requests.get('http://example.com/lkajdfjadkljfalkdjf')

* a 400 code is user error, while a 500 error means a server error

In [ ]:
response = requests.get("https://swapi.co/api/people/1/")

In [ ]:
data = response.json()

In [ ]:
data['name']

In [ ]:
for url in data['starships']:
    response = requests.get(url)
    starship = response.json()
    print(starship['name'])

In [ ]:
response

In [ ]:
data = response.json()

In [ ]:
data.keys()

In [ ]:
data['crew']

Grabbing data from page 1

In [ ]:
df = pd.DataFrame(data['payload']['items'])
df.head()

Grabbing data from page 2

In [ ]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

In [ ]:
df = pd.concat([df, pd.DataFrame(data['payload']['items'])]).reset_index()

In [ ]:
df.tail()

In [ ]:
print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

Grabbing data from page 3

In [ ]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

In [ ]:
df = pd.concat([df, pd.DataFrame(data['payload']['items'])]).reset_index()
df.tail()

In [ ]:
print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

In [ ]:
df.shape

##### All rows and columns captured properly.

##### Now rename the df as "items."

In [ ]:
items = df

In [ ]:
items.head()

##### Problem 1 complete.

#### 2. Do the same thing, but for stores.

In [28]:
response = requests.get('https://python.zach.lol/api/v1/stores')
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [29]:
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [30]:
print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

max_page: 1
next_page: None

Grabbing data from page 1

In [33]:
df = pd.DataFrame(data['payload']['stores'])
df.tail()

            store_address   store_city  store_id store_state store_zipcode
5      1015 S WW White Rd  San Antonio         6          TX         78220
6  12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7     15000 San Pedro Ave  San Antonio         8          TX         78232
8      735 SW Military Dr  San Antonio         9          TX         78221
9    8503 NW Military Hwy  San Antonio        10          TX         78231

In [32]:
df.shape

(10, 5)

##### All rows and columns captured properly.

##### Now rename the df as "stores."

In [ ]:
stores = df
stores.head()

##### Problem 2 complete.