In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import itertools

# JSON API
import requests
import json

# data visualization
import matplotlib
import seaborn as sns
import statsmodels.api as sm

%matplotlib inline

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

from acquire import tsa_acquire_all
from acquire import peekatdata
from acquire import missing_values_col
from prepare import data_prepped

In [ ]:
df = tsa_acquire_all()

In [2]:
df = data_prepped(tsa_acquire_all())

Checking for existing items.csv...
Reading items from local csv...

Checking for existing stores.csv...
Reading stores from local csv...

Checking for existing sales.csv...
Reading sales from local csv...

Writing final df.csv...

Finished writing final df.csv.  Final df done.

HEADS UP: finished all tsa acquire.  Full Stop!

Final raw df now ready to begin data preparations.



Please wait for df preparations to process...
Date/time conversion in process...
Additional data parts are being added...
Executing "improve_sales_data" function...
Renaming "sale_amount" field to "quantity"...
New index is being set with the date/time field...
New prepped df is ready for use.

In [4]:
df.tail()

,item_id,quantity,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode,year,quarter,month,day,weekday,is_weekend,sale_total
sale_date,,,,,,,,,,,,,,,,,,,,
2017-12-27,50,63.0,912996,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.2,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,2017,4,12,27,Wed,False,327.6
2017-12-28,50,59.0,912997,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.2,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,2017,4,12,28,Thu,False,306.8
2017-12-29,50,74.0,912998,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.2,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,2017,4,12,29,Fri,False,384.8
2017-12-30,50,62.0,912999,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.2,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,2017,4,12,30,Sat,True,322.4
2017-12-31,50,82.0,913000,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.2,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,2017,4,12,31,Sun,True,426.4